[2015-05-12 08:46] AlbaPi opened #1172 "Verify volunteer manually"
Could you verify this volunteer "bernat.casajuana01@estudiant.upf.edu" manually?

Thanks!

[2015-05-12 10:48] AlbaPi opened #1173 "Verify volunteer manually"
Could you verify these volunteer manually?

anna.pinol02@estudiant.upf.edu
cinta.bertomeu01@estudiant.upf.edu
pavlos.kon@outlook.com

Thanks a million!

[2015-05-12 10:57] Wasala commented on #1173
Done.

[2015-05-12 10:57] #1173 closed

[2015-05-12 16:19] alanbarrett commented on #1170
This has been completed by Asanka (with myself). IE working!

[2015-05-12 16:19] #1170 closed

[2015-05-12 18:35] Wasala opened #1174 "A favicon needs to be created for trommons.org"
In the absence of a favicon, the browser picks some random icon (e.g. google+). Therefore, an icon needs to be created and placed in the web root.

[2015-05-13 10:17] AlbaPi opened #1175 "Problem to access Trommons"
This volunteer Anna Perucho-Outarahout <anna.perucho@sfr.fr> can't access on Trommos. She has tried to reset the password, but she is not receiving any email. What should I tell her?

[2015-05-13 12:29] Wasala commented on #1175
I tried in the backend's current output log and nothing was found for this user. This user is a verified user. I will have to restart the backend and the mail-server in this case and try to reset her password.

[2015-05-13 12:34] Wasala commented on #1175
The user should definitely get the password reset email now. I am emailing it to you too.

[2015-05-13 12:34] #1175 closed

[2015-05-13 16:33] alanbarrett commented on #1144
I did the last two important ones...
ui/templating/templates/task/task.create.tpl
ui/templating/templates/task/task.alter.tpl
The date/time pickers have been changed to work with local time but with UTC coming from server and going back to server.

Others are not so critical, they can be done when/if they need to be edited for other reasons.

[2015-05-13 16:36] alanbarrett commented on #1168
Done

[2015-05-13 16:36] #1168 closed

[2015-05-13 16:36] alanbarrett commented on #1159
Done

[2015-05-13 16:36] #1159 closed

[2015-05-14 09:26] Paulina-Rosetta opened #1176 "List All Badges button not working"
When clicking the List All Badges button the the Profile page (http://trommons.org/badge/list/), I receive the following error message:

You can report this problem by E-Mailing us at info@trommons.org
with details of how you encountered the error, along with the technical details listed below.

Slim Application Error

Message:DOMXPath::query(): Invalid predicate
Loc: /repo/solas-match/ui/lib/Loca

[2015-05-14 11:21] AlbaPi opened #1177 "Verify volunteers manually"
Could you verify this volunteers manually?

tlyon92@comcast.net
mkb17@outlook.com
taniazamoranogo@gmail.com

Thanks!

[2015-05-14 11:32] alanbarrett commented on #1176
The following badge from the database (using call getBadge(null,null,null,null); )...
| 100 |       28 | Les petits frÃ¨res des Pauvres             | Association reconnue d''utilitÃ© publique venant en aide aux personnes Ã¢gÃ©es de plus de 50 ans vivant isolÃ©es, vivant dans des conditions de prÃ©caritÃ© multiples.

... does not have a translation so Localisation::getTranslation($badgeEntry->getDe

[2015-05-14 11:33] Wasala commented on #1176
I will look into this.

[2015-05-14 11:39] Wasala commented on #1177
Done.

[2015-05-14 11:39] #1177 closed

[2015-05-14 12:08] Wasala commented on #1176
Fixed in develop.

[2015-05-14 12:16] Wasala commented on #1176
Fixed

[2015-05-14 12:16] #1176 closed

[2015-05-14 12:58] #1174 closed

[2015-05-14 13:00] #1172 closed

[2015-05-14 13:00] Wasala commented on #1172
(Done)

[2015-05-14 13:00] Wasala commented on #1171
Sent info via email.

[2015-05-14 13:00] #1171 closed

[2015-05-18 16:12] AlbaPi opened #1178 "Verify volunteer manually"
Could you verify this volunteer yemotto@hotmail.co.jp manually?

Thanks!

[2015-05-18 16:25] Wasala commented on #1178
Done.

[2015-05-18 16:25] #1178 closed

[2015-05-18 16:28] Wasala commented on #832
eb74a0e638cfb1311424aadc3d98d4e3751054ad also implements the feature "users who viewed this task also viewed"

[2015-05-25 09:01] AlbaPi opened #1179 "About Recently Viewed Tasks"
In the Recently Viewed Tasks section I am able to see tasks that are already in progress. Can the volunteers see them, as well? It is a little bit confusing…

[2015-05-25 10:22] Paulina-Rosetta commented on #1179
Also, the list is a bit too 'busy' IMO. I think we should add an extra space between the tasks
![recently viewed tasks](https://cloud.githubusercontent.com/assets/4759025/7795815/4aa4dfb8-02d0-11e5-8d6e-e726e2ba6bd2.png)

[2015-05-25 10:34] Wasala commented on #1179
@AlbaPi Yes, I did this intentionally so that this can be especially useful for you to monitor tasks that you are dealing with.  But I can easily restrict this only to unclaimed tasks if you'd like. Please let me know.

[2015-05-25 10:37] Wasala commented on #1179
@Paulina-Rosetta  try clearing cache in your browser?  Can you check with a different browser too?
because I had implemented a shading background for each task, which does not seem to be there in your screen-shot. If you still think it is too busy even with the shading, I can increase the gap. please let me know.

[2015-05-25 10:49] Paulina-Rosetta commented on #1179
Thanks Asanka, tried it on Chrome now and see what you mean, much better with the shading!

[2015-05-25 11:11] AlbaPi commented on #1179
Yes, Asanka! We think it's better if it could be restricted to unclaimed tasks! It may be confusing for the volunteers to see the task that have already been claimed. Thank you so much!!!!

[2015-05-25 15:24] AlbaPi opened #1180 "Update a task"
Everytime I update a task it appears: Oops! there has been a technical problem.

Slim Application Error
Message:Undefined index: alsoViewedTasksCount
Loc: /repo/solas-match/ui/templating/templates_compiled/fe9acd1bda33bd551da7693022e076cc3075e6bb.file.task.view.tpl.php
Line: 153
Code: 8

Trace:

0 /repo/solas-match/ui/templating/templates_compiled/fe9acd1bda33bd551da7693022e076cc3075e6bb.file.task

[2015-05-26 12:16] Paulina-Rosetta commented on #1167
Agreed!

[2015-05-27 08:53] AlbaPi opened #1181 "Assign task"
Could you put this volunteer <glorietranslations1@yahoo.com> in that task: http://trommons.org/task/8229/id/

She unclaimed the task by mistake and now I can not assign her the task again.
Thank you!

[2015-05-27 09:38] Wasala commented on #1181
Done.

[2015-05-27 09:38] #1181 closed

[2015-05-27 11:27] Wasala commented on #1180
Fixed in the develop branch.

[2015-05-27 11:36] AlbaPi commented on #1180
It is still showing the same message. I've already log out and log in again.

[2015-05-27 11:51] Wasala commented on #1180
@AlbaPi It is not merged to the master branch yet and live site has not yet been updated too. I will let you know once I deploy this to the live site.

[2015-05-27 11:53] AlbaPi commented on #1180
Ok! Sorry, I didn't know that I had to wait until the update! Thank you so much! :)

[2015-05-27 12:09] Wasala commented on #1179
Working on this now.

[2015-05-27 12:23] Wasala commented on #1179
I've modified this feature according to your suggestions. Recently viewed tasks will now only show unclaimed tasks. As per @Paulina-Rosetta 's suggestion I have increased the gap between tasks. I have tested on Firefox and the shading appear fine.

[2015-05-27 12:23] #1179 closed

[2015-05-27 12:24] #1180 closed

[2015-05-28 13:09] AlbaPi opened #1182 "Verify volunteer manually"
Could you verify manually this volunteer katherine@kdspanishlanguagesolutions.co.uk ?

Thanks!

[2015-05-28 13:19] Wasala commented on #1182
Done.

[2015-05-28 13:19] #1182 closed

[2015-05-29 12:59] AlbaPi opened #1183 "Assign task"
Could you assing this volunteer http://trommons.org/9039/profile http://trommons.org/task/6202/id/

Thanks

[2015-05-29 13:30] AlbaPi opened #1184 "Change the word count"
could you change the word count of this project?

http://trommons.org/project/3071/view/ = 6370

The system doesn't let me...

Thanks!

[2015-05-29 14:43] Wasala commented on #1183
Done.

[2015-05-29 14:43] #1183 closed

[2015-05-29 14:46] Wasala commented on #1184
Strange. I could change without any problems through the UI.

[2015-05-29 14:46] #1184 closed

[2015-06-02 09:20] AlbaPi opened #1185 "Verify volunteer manually"
Could you verify manually "hana.sabbar@therosettafoundation.org"?

She is starting an internship with us today and she has received the e-mail but there's no option to click on the hyperlink of "here".

Thanks!

[2015-06-02 09:54] Wasala commented on #1185
Done.

[2015-06-02 09:54] #1185 closed

[2015-06-02 10:02] Wasala commented on #1185
I had a quick look at the backend's output log, and it seems like the verification link was there in the email that got sent to the user. So may be she has disabled html for her email client? Anyway, the user has been manually verified.

[2015-06-05 14:51] alanbarrett opened #1186 "Projects/Tasks with multiple line titles should have these displayed correctly"
Projects/Tasks with multiple line titles should have these displayed correctly.

The current code uses TEXTAREA for titles allowing multiple line titles. This may or may not be a good idea. However given that \r\n are currently allowed in titles, these should be converted to <br /> for display (although not for editing unless this is redesigned... See also issue #1162).

This is an issue in multip

[2015-06-05 17:40] alanbarrett opened #1187 ""Users also viewed" does not have a local time zone due date"
"Users also viewed" does not have a local time zone due date...

ui/templating/templates/task/task.view.tpl
has...
{sprintf(Localisation::getTranslation('common_due_by'), {date(Settings::get("ui.date_format"), strtotime($deadline_timestamps[$also_viewed_task_id]))})}

    Alan.

[2015-06-06 06:47] alanbarrett commented on #1162
PDOWrapper::cleanse($str) explicitly escapes CR  and LF. This is why the \r\n appear. Ideally they should be kept as is in the database (not escaped). However that cannot easily be changed now.

    Alan.

[2015-06-06 10:18] alanbarrett commented on #1186
So the following templates (not the full set of fixes required, but the most important) have been fixed and moved to the live server...
 ui/templating/templates/index.tpl
 ui/templating/templates/task/claimed-tasks.tpl
 ui/templating/templates/task/recent-tasks.tpl
 ui/templating/templates/org/org.dashboard.tpl
 ui/templating/templates/project/project.alter.tpl
 ui/templating/templates/project/pro

[2015-06-08 14:24] AlbaPi opened #1188 "Verify volunteer manually"
Could you verify this girl manually?

michela.mollo@hotmail.it

Thanks! :)

[2015-06-08 14:25] Wasala commented on #1188
@alanbarrett I think we should definitely have a UI/feature to do these (or else the backend needs to be fixed)

[2015-06-08 14:26] Wasala commented on #1188
Done.

[2015-06-08 14:26] #1188 closed

[2015-06-08 14:26] AlbaPi commented on #1188
Thank you!

[2015-06-08 14:34] alanbarrett commented on #1188
@Wasala do you know what it the backend is failing? However it is also likely that this is often caused by teh acknowledgement e-mail going to SPAM?

However... I hav ejust noted taht teh system seems to have been rebooted. And the following seesm to have happened...

1) your script does not seem to have automatically started the backend. Any idea why?

2) lighttpd/fpm are running again. How can t

[2015-06-09 11:20] AlbaPi opened #1189 "Verify volunteer manually"
Could you verify this volunteer? davidecavanna@hotmail.it

Sorry about that, I am always asking you the same...

Thanks!

[2015-06-09 11:30] Wasala commented on #1189
Done :)

[2015-06-09 11:30] #1189 closed

[2015-06-09 14:29] AlbaPi opened #1190 "Verify volunteer manually"
Could you verify manually this volunteer?

mportorodrigo@outlook.com

Thanks! :)

[2015-06-09 14:35] Wasala commented on #1190
This user had been already verified. Can you ask the user whether they are getting any error messages when they try to login?

[2015-06-09 14:37] AlbaPi commented on #1190
He wrote me:

I've been trying to log-in on Trommons, but even after reseting my password twice it still gives me a message saying my credentials are incorrect. Could you please orient me on how to regain access to my account?

[2015-06-09 14:51] Wasala commented on #1190
@AlbaPi I have reset the password for this user and I will email you the newly created password soon.

[2015-06-09 14:51] #1190 closed

[2015-06-10 13:19] AlbaPi opened #1191 "Verify volunteer manually"
Coluld you verify this volunteer? babyluna89@hotmail.it

Thanks again! :)

[2015-06-10 13:25] Wasala commented on #1191
Will do this after publishing the banner.

[2015-06-10 13:27] AlbaPi commented on #1191
No rush!

[2015-06-10 13:47] Wasala commented on #1191
Done :)

[2015-06-10 13:47] #1191 closed

[2015-06-17 09:06] AlbaPi opened #1192 "Assign task"
Could you re-assign this task http://trommons.org/task/8029/view/ to this volunteer apallinder@gn.apc.org?

Thanks! :)

[2015-06-17 09:58] alanbarrett commented on #1192
Done

[2015-06-17 09:58] #1192 closed

[2015-06-26 12:22] AlbaPi opened #1193 "Task not uploaded successfully"
Two tasks of the same organisation (Front Line Defenders) were uploaded by the volunteers (they received an e-mail that the document had been uploaded successfully) and then the task was still “in progress”.
http://trommons.org/task/8051/view/
http://trommons.org/org/197/task/7082/complete/

I don’t know if the fact that this has happened with the same organisation will let us know what has happen

[2015-06-26 12:49] alanbarrett commented on #1193
I will look at that when I get time... Is it an immediate problem? or can
it wait (ie you have a workaround)?

    Alan.

On 26 June 2015 at 13:22, AlbaPi <notifications@github.com> wrote:

[2015-06-26 12:57] AlbaPi commented on #1193
It can wait!!! Don't worry! :) It was just to let you know because it's quite weird!

[2015-07-01 11:56] Paulina-Rosetta opened #1194 "User 9437 verified?"
Can you check if this user has been verified? http://trommons.org/9437/profile/
If not, maybe you can verify them manually?
Thanks!!

[2015-07-01 12:04] alanbarrett commented on #1194
Done.

[2015-07-01 12:04] #1194 closed

[2015-07-01 12:18] Paulina-Rosetta commented on #1194
Ok , thanks Alan. For some reason I can't add this user as an organisation member. I'm getting an error to say they're not registsred. Any thoughts?
![add_user](https://cloud.githubusercontent.com/assets/4759025/8454216/9e438fbc-1ff3-11e5-8ef2-2e7f39ac86cc.png)

[2015-07-01 13:32] alanbarrett commented on #1194
After a bit of debugging... I worked out that you have spelled the e-mail wrong (or were told the wrong e-mail). It should be "imke.kaschke@specialolympis.de"... not "olympics"

I have now sucessfully added that user to the organisation.

    Alan.

[2015-07-02 08:56] Paulina-Rosetta commented on #1194
Turns out she misspelt the email when registering! Which explains why it wasn't verified. And she's got the wrong email on her user profile now, so what do we do? Just delete that account and get her to re-register? Sorry about the trouble!

[2015-07-02 10:15] alanbarrett commented on #1194
I issued the following and it should be good now...

UPDATE Users SET email='imke.kaschke@specialolympics.de' WHERE email='imke.kaschke@specialolympis.de';

    Alan.

[2015-07-02 10:34] Paulina-Rosetta commented on #1194
Thanks Alan!!

[2015-07-03 10:48] Paulina-Rosetta opened #1195 "Order of projects on the organisation dashboard"
It would make our life - and possibly the organisations' lives - a lot easier if we changed the order in which projects are displayed on the dashboard. Right now they are in alphabetical order. I suggest displaying them by date - newest on top.
Would this be difficult to change?
Thanks!! @AlbaPi

[2015-07-03 11:20] alanbarrett commented on #1195
I should be able to do that... but it will have to wait 'till I get the
backend running on the test server... as I need that working as a test
environment in case we have any emergency.

    Alan.

On 3 July 2015 at 11:48, Paulina-Rosetta <notifications@github.com> wrote:

[2015-07-06 08:43] Wasala commented on #1195
Need to include "order by" clause in : https://github.com/TheRosettaFoundation/SOLAS-Match/blob/develop/db/schema.sql#L2392 and subsequently following places needs to be changed:
API/DAO
https://github.com/TheRosettaFoundation/SOLAS-Match/blob/master/api/DataAccessObjects/ProjectDao.class.php#L101

API/Route
https://github.com/TheRosettaFoundation/SOLAS-Match/blob/master/api/v0/Orgs.php#L206

UI/D

[2015-07-06 10:49] Paulina-Rosetta opened #1196 "Accessing archived tasks"
Hi,

A volunteer has just asked to see a the proofread version of one of her trasnlations from last year. The project has since been archived. I'd like to give her a chance to look at the corrections though.
Before it was archived, the file was available for download here: http://trommons.org/org/29/task/3250/review

Any chance I could get access to this file?

[2015-07-06 11:04] Wasala commented on #1196
Sent an email with the file.

[2015-07-06 11:04] #1196 closed

[2015-07-13 10:09] AlbaPi opened #1197 "Assign task"
Could you assign this task http://trommons.org/task/4145/id/ to <kyonulmamedzade@gmail.com>?

He already claimed in the past, and now he want to do it. It's the only active Azerbaijani volunteer so it would be really handy if you could assign it to him! :)

Thank you so much in advance,
Alba

[2015-07-13 10:17] Wasala commented on #1197
Done.

[2015-07-13 10:17] #1197 closed

[2015-07-15 16:47] alanbarrett commented on #1195
I have this "done" and tested on the test server... but I need confirmation of what you want to be sure not to cause a problem.
In http://trommons.org/org/dashboard/
... I assume you still want all the tasks ordered alphabetically... however you want the projects within these organisations ordered by creation date, not by deadline.

Have I got that right, or not?

(of course, many users will only

[2015-07-16 11:37] Paulina-Rosetta commented on #1195
Sorry Alan is this is confusing. On Dashboard, projects are ordered alphabetically under each organisation title. I'm proposing that they should be ordered by creation date, with the most recent projects on top. Am I making more sense now?
![dashboard](https://cloud.githubusercontent.com/assets/4759025/8721958/7af3f752-2bb7-11e5-8617-7e2cb31c4f60.png)

[2015-07-16 11:41] alanbarrett commented on #1195
I think so but the organisations will still be listed alphabetically (for
admins or those who have more than one organisation)... it is within each
organisation that you want the projects to be listed by creation date. Is
that correct?

    Alan.

On 16 July 2015 at 12:37, Paulina-Rosetta <notifications@github.com> wrote:

[2015-07-16 11:44] Paulina-Rosetta commented on #1195
Yes, exactly!

[2015-07-16 11:48] alanbarrett commented on #1193
Unfortunately I cannot find a reason for this.

    Alan.

[2015-07-16 13:44] alanbarrett commented on #1195
Done.

[2015-07-16 13:44] #1195 closed

[2015-07-16 15:47] alanbarrett opened #1198 "Don't Blacklist a User who unclaims a task"
Don't Blacklist a User who unclaims a task... requested by Paulina/Alba

PROCEDURE `unClaimTask` should not insert an entry in TaskTranslatorBlacklist.

    Alan.

[2015-07-16 15:49] alanbarrett commented on #1198
Done by b1d1e827c9cb55a416407c17dfe0655148cbabb4

[2015-07-16 15:49] #1198 closed

[2015-07-16 17:37] alanbarrett opened #1199 "Need UI (in /admin) to allow a new user to be manually verified"

[2015-07-17 13:13] Paulina-Rosetta opened #1200 "Broken project"
Not sure what happened here: http://trommons.org/project/3215/view/

Could you investigate?

Thanks!! @AlbaPi

[2015-07-17 13:52] Wasala commented on #1200
Currently there are no records of active tasks in the database for this project.
A task of this project, Task-9059  has already been archived and related files exist in the file system.

[2015-07-17 13:59] alanbarrett commented on #1200
Thanks Asanka! I have had a look at this also and can find nothing to explain any problems... but then you seem to indicate it is OK, so I will assume all is well.

[2015-07-18 14:04] alanbarrett commented on #1199
This is now done... go to http://trommons.org/admin

At the top of the page there is now Email Verification. Enter an e-mail for a newly registered user that you want to manually verify (they have lost their registration e-mail or whatever). Click "Email Verification" and if it succeeded you will get a Green "Email Verification" message. I could have added slightly better messages but I did not wa

[2015-07-18 14:04] #1199 closed

[2015-07-20 09:51] Paulina-Rosetta commented on #1200
Thanks - all makes sense

[2015-07-20 09:51] #1200 closed

[2015-07-24 10:10] Paulina-Rosetta opened #1201 "Merge accounts?"
Is it possible to merge two accounts on Trommons i.e. add info from the one to another? A volunteer has two accounts, has been very active on one she'd like to keep and has completed one task on another. Could the task she completed be added to the more active account so it doesn't get lost (eg reference email)?

[2015-07-24 11:08] Paulina-Rosetta opened #1202 "Email reminders for claimed tasks"
How difficult would it be to add notification emails that remind users of tasks they've claimed?
AFAIK there's only one reminder after you claim a task and this is sent to users who haven't uploaded  just after the deadline passes. There are no previous or subsequent reminders.

I would suggest to send one reminder a week before the task is due, one after the deadline passes and one very urgent on

[2015-07-24 21:29] alanbarrett commented on #1202
I will look at that... it may not be very easy as the backend is harder to
change... but I will look when I get a chance.

    Alan.

On 24 July 2015 at 12:08, Paulina-Rosetta <notifications@github.com> wrote:

[2015-07-24 21:30] alanbarrett commented on #1201
I will look.

    Alan.

[2015-07-25 13:33] alanbarrett commented on #1201
If you tell me the two users (and which one is to have its info moved and which she wants to keep). I think I can do this.

    Alan.

[2015-07-27 09:09] Paulina-Rosetta commented on #1201
This is the account she wants removed: http://trommons.org/402/profile
This is the one she wants to keep: http://trommons.org/3327/profile

[2015-07-27 13:30] alanbarrett commented on #1201
I think I have done this. There did not seem to be any archived tasks, but I moved over one task: http://trommons.org/task/2814/id

    Alan.

[2015-07-27 13:30] #1201 closed

[2015-07-27 13:46] alanbarrett commented on #1201
By the way, the old account is still there. I suppose she might still possibly get e-mails related to that.

    Alan.

[2015-07-27 17:26] alanbarrett commented on #1202
Could you send me the text for the two e-mails... (week before & week after the deadline)... here is the existing wording for the e-mail at the time of the deadline...

    The "{{TASK_TYPE}}" task for "{{TASK_TITLE}}" from {{SOURCE_LANGUAGE}} into {{TARGET_LANGUAGE}} has passed its deadline.
    As the task deadline has passed, please ensure to upload your output file.
    If you have any questio

[2015-07-27 17:34] alanbarrett commented on #1202
Also I need the subject of the two e-mails. The existing Subject is...
trommons.org: Task Deadline Passed

[2015-07-28 13:16] Paulina-Rosetta commented on #1202
I'll have these ready by tomorrow

[2015-07-29 10:56] Paulina-Rosetta opened #1203 "Org members can't view volunteer profiles"
When org members click on a link to a volunteer profile they get the following error:

XML Parsing Error: syntax error Location: http://trommons.org/4842/profile/ Line Number 2, Column 1:
Fatal error: Call to a member function getLanguagePreference() on a non-object in /repo/solas-match/ui/RouteHandlers/UserRouteHandler.class.php on line 1003
^

I think the idea was that they should be able to vie

[2015-07-29 12:14] Paulina-Rosetta commented on #1202
Week before deadline:

Subject: Trommons Task Deadline Reminder
Thank you for claiming a volunteering task on Trommons!
You have one week to complete the "{{TASK_TYPE}}" task for "{{TASK_TITLE}}" from {{SOURCE_LANGUAGE}} into {{TARGET_LANGUAGE}}.
Please ensure to upload your file before the deadline passes.
If you have any questions about the deadline, please contact <a href="info@trommons.org"> i

[2015-07-29 17:01] alanbarrett commented on #1203
I can fix this. But I need to know exactly what on that page should or should not be seen...

Display Name
E-Mail
Native Language
Secondary Language(s)
Biography
Language Preference
First Name
Last Name
City
Country
Badges
Tags
Organisations
Archived Tasks

[2015-07-30 11:00] Paulina-Rosetta commented on #1203
Ok I've opened a can of worms here. In our intro video we tell volunteers that only their display name will be publically visible. On the other hand, some volunteers have asked for a public profile that they can use to promote their volunteering work. Any thoughts on this @AlbaPi @reinhardschaler @Wasala @spaceindaver @SeanMooney @TheIceMageX50 ?

[2015-07-30 11:52] Wasala commented on #1203
Related #22, #10

[2015-07-30 12:45] Paulina-Rosetta opened #1204 "Misleading description on review page"
There's a mistake on the review page which is where orgs download their translations. When a task they created/track is uploaded, they receive an email notification with a link to the review page (eg 'To download the the latest version of the file click here'.)
However, the link on the review page is incorrectly described as pointing to the source file: 'You can redownload the source file here.' T

[2015-07-30 15:08] AlbaPi opened #1205 "Change the e-mail address"
A volunteer wrote:

I'd like to change the email address associated with my Trommons account.

It's currently set to this address (elmolinospain@hotmail.com) and I would like it to be changed to amanda@thespanishtranslationstudio.com

Could you do this for us? Thank you so much!

[2015-07-30 17:18] alanbarrett commented on #1205
Done

[2015-07-30 17:18] #1205 closed

[2015-07-30 17:40] alanbarrett commented on #1204
I have done this for English and it is now on trommons.org. We will need translations for the other languages...

<string name="task_review_form_0">Du kannst die Ausgangsdatei <a href="%s">hier</a> nochmals herunterladen.</string>
<string name="task_review_form_0">Puedes volver a descargar el texto de origen <a href="%s">aquÃ­</a>.</string>
<string name="task_review_form_0">Puoi scaricare nuovamen

[2015-07-31 10:15] Paulina-Rosetta commented on #1204
Thank you very much Alan!! Is this enough or do you need the full strings?

DE: Du kannst die Datei hier herunterladen.
ES: Puedes volver a descargar el documento aquí­.
IT: Puoi scaricare il file qui.

[2015-07-31 10:19] alanbarrett commented on #1204
That should do.

    Alan.

On 31 July 2015 at 11:15, Paulina-Rosetta <notifications@github.com> wrote:

[2015-07-31 11:13] Paulina-Rosetta commented on #1203
@Wasala Re the  ‘Receive Credit’ option (http://trommons.org/static/faq/#vol_q_will_my_work_credited) - has this been implemented so that names are visibible to organisations?

[2015-07-31 11:32] Wasala commented on #1203
@Paulina-Rosetta I had a quick look at:#940 and #795, 4125cedf3a8df471f7a53034c14e7bd5e116108  , https://github.com/TheRosettaFoundation/SOLAS-Match/blob/master/ui/RouteHandlers/UserRouteHandler.class.php#L929 and https://github.com/TheRosettaFoundation/SOLAS-Match/blob/master/ui/templating/templates/user/user-public-profile.tpl#L13. It seems like user's public profile does not use "Receive Credit

[2015-07-31 11:34] Paulina-Rosetta commented on #1203
@alanbarrett hope this helps. Thanks Asanka!

[2015-07-31 11:46] Wasala commented on #1203
@Paulina-Rosetta @alanbarrett I like the idea of allowing users to showcase their activity on Trommons (task history) through the public profile. This is backed by previous research too (for example: http://arxiv.org/ftp/arxiv/papers/1204/1204.3724.pdf).

p.s.
I'll email Alan a presentation called "User Reputation System for SOLAS" that I had prepared in 2013 that proposes this idea along with som

[2015-07-31 17:24] alanbarrett commented on #1204
Done for all supported languages.

    Alan.

[2015-07-31 17:24] #1204 closed

[2015-08-02 21:12] alanbarrett commented on #1202
This is now implemented on the live server. I have tested pretty well on the dev server and all should be OK, but we will know more when reminders go out overnight.

Note you will not get notification that the e-mails have been sent. But they will go, as agreed, 1 week before and one week after the deadline. (The existing e-mail at the deadline will continue to be sent.)

Note, you will have notic

[2015-08-02 21:12] #1202 closed

[2015-08-03 15:13] alanbarrett commented on #1203
As regards the public profile I will make this work but hide...
E-Mail
First Name
Last Name
Organisations
Archived Tasks

I will display...
Display Name
Native Language
Secondary Language(s)
Biography (when discussing with Paulina, I thought not to include this... but this is the only place it can be used, otherwise it will never display)
Language Preference (probably)
City (when discussing with P

[2015-08-03 15:17] alanbarrett commented on #1203
Do we need to notify users that their City, Country and Bio will be displayed?

    Alan.

[2015-08-03 16:20] alanbarrett commented on #1203
Actually, on looking at the existing code, I will try to follow the original intention which does not display the following...
E-Mail
First Name
Last Name
Language Preference
City
Country

But, I think, does display...
Biography
Badges
Tags
Organisations
Archived Tasks

    Alan.

[2015-08-03 16:49] alanbarrett commented on #1203
Done!

    Alan.

[2015-08-03 16:49] #1203 closed

[2015-08-04 13:18] Paulina-Rosetta commented on #1203
Thanks Alan!

[2015-08-13 10:36] AlbaPi opened #1206 "Change the e-mail address"
Could you change the e-mail for a volunteer?

old email address: scott@bestmail.us
new email address: translate@scottellsworthtranslator.com

Thank you so much!

[2015-08-13 11:02] alanbarrett commented on #1206
Done.

    Alan.

[2015-08-13 11:02] #1206 closed

[2015-08-18 12:52] AlbaPi opened #1207 "Upload a document"
A volunteer uploaded a document in this project but seems impossible to download it. I've try to re-uploaded and I can't. It show me: Error! Undefined index: fileUpload

http://trommons.org/task/9546/simple-upload/

Maybe it's too big. What could I do?

Thank you so much,
Alba

[2015-08-18 14:38] alanbarrett commented on #1207
The original project file is about 60 MB which is OK by our new limits. It seems to have uploaded properly (but I am not sure). I was able to download it and it seems to be OK (with some blank pages that may be intentional (or not?)).

The Translation upload failed (at 12:45 GMT) because they (or you maybe) tried to upload 141 MB. That seems quite big!

I do not know where "Undefined index" comes

[2015-08-18 14:55] AlbaPi commented on #1207
I think that increase the limits again would be the best option. Would this be too difficult?

Thanks!

[2015-08-18 16:09] alanbarrett commented on #1207
In php.ini I have made following changes
memory_limit = 500M
post_max_size = 150M
upload_max_filesize = 145M

and restarted Apache. I hope this resolved the issue.

    Alan.

[2015-08-18 16:09] #1207 closed

[2015-08-19 12:42] AlbaPi opened #1208 "Problem source file"
This task has a problem with the source file. http://trommons.org/task/7022/id

When I try to download it appears:

Warning! We could not find the requested file on our system. Requested file type: original task file. Please contact us at info@trommons.org with details of this problem.

Thanks!

[2015-08-19 13:49] alanbarrett commented on #1208
Everything looks good on the system... but it does not work... so I will have to debug later today.

    Alan.

[2015-08-19 16:45] alanbarrett commented on #1208
After quite a bit of investigation, following up various leads about what might have caused the problem. I can find nothing definitive. The task was unclaimed at one stage... but that looks as if it is OK... also there was possibly an issue with organisation feedback. I don't think there was segmentation involved... but that might possibly have an issue... but I don't have any hard info on that...

[2015-08-24 09:58] Paulina-Rosetta opened #1209 "Reference emails"
Hi,

I've had a few complaints from volunteers who have requested a reference email but havent received anything. I've requested one myself on Friday and again this morning at 10.35 but nothing yet. Any idea?

[2015-08-24 11:09] alanbarrett commented on #1209
Actually Arrived. All is OK we hope.

    Alan.

[2015-08-24 11:09] #1209 closed

[2015-08-25 12:18] Paulina-Rosetta opened #1210 "Download button not visible"
There seems to be a problem with this proofreading task: http://trommons.org/task/9880/id
The download button is not visible to me and the preview shows the original text rather than the translated text, which should be the source file for a proofreading task.

Any thoughts?

[2015-08-25 14:48] alanbarrett commented on #1210
I have spent about two hours trying to work out what happened. I cannot... also I cannot seem to be able to manually fix the problem. So I will have to give up. Sorry about that. If this occurs for other projects let me know.

I have the translated file, if that helps.

    Alan.

[2015-08-26 10:13] Paulina-Rosetta commented on #1210
Odd. I got it proofread and uploaded it no problem. I can download it ok too. I'll let you know if this comes up again. Thanks Alan!

[2015-08-27 09:30] Paulina-Rosetta opened #1211 "Task Update emails"
To make Alba's life easier, I would suggest including a link to the relevant task in the Task Update emails. These emails are sent when a task deadline passes and since deadlines often need to be readjusted, a link in the email would be helpful. This is what they look like:

Paulina Abzieher,
A task you are following on Trommons has passed its deadline. The task "Certificate for Climate Justice Am

[2015-08-27 11:32] Paulina-Rosetta commented on #1210
Here's another one: http://trommons.org/task/10008/view/
The project also displays a status of 25% when experience tells me it should be 50%.
Can you look at this one maybe?

[2015-08-27 13:27] alanbarrett commented on #1210
I have manually fixed this. It seems there originally was a translation
task, by mistake, I assume. It would have been deleted by someone... But
there seems to be a bug that leaves the proofreading waiting. I have not
yet researched or fixed that bug yet. But I will add it to my list and
hopefully get to it soonish.

In the mean time can you verify that the project is now OK?

    Alan.

On 27 Aug

[2015-08-27 13:30] Paulina-Rosetta commented on #1210
All good now, thanks Alan!!

[2015-09-01 14:41] alanbarrett commented on #1210
Finally... and it took quite a bit of work!... I have implemented a general solution for this. I have tested so all should be OK, but let me know if you see anything funny.

The solution involved...
If any WAITING_FOR_PREREQUISITES Task has a Prerequisite Task which is being deleted and it does not have any other non COMPLETE Prerequisites, set it to PENDING_CLAIM

    Alan.

[2015-09-01 14:41] #1210 closed

[2015-09-08 10:10] Paulina-Rosetta opened #1212 "User 2686 can't access the site"
This user http://trommons.org/2686/profile/ cant log in, she has apparently reset her password several times and never received a verficiation email. How do I proceed?

Thanks

[2015-09-11 09:01] Paulina-Rosetta opened #1213 "Cannot download translation"
I cannot seem to download the completed translation for this task: http://trommons.org/org/105/task/9544/complete/

When I go to download the source file for the proofreading task, which should be the translation, I get the original English file.

[2015-09-16 12:07] AlbaPi opened #1214 "Notifications e-mails"
This volunteer "clara@clarallamas.ie" is not receiving any notification e-mail. Any idea about which is the issue?

Thanks!

[2015-09-16 12:18] AlbaPi opened #1215 "Automatically registration"
I deteled twice this account from Trommons: mercedesvillegasbeguiristain@gmail.com

She is from an organisation and she is using another account, and it keeps registring on Trommons automatically. So weird!

[2015-09-20 17:14] alanbarrett commented on #1214
There is no user with an e-mail of "clara@clarallamas.ie". There is a user with an e-mail of "clarallamas@me.com" and e-mails have been sent to that user.

I could change the e-mail address if that is the right thing to do.

    Alan.

[2015-09-20 17:14] #1214 closed

[2015-09-20 17:24] alanbarrett commented on #1215
The account seems to have been created on 10th September, when did you delete it? Did it indicate success.

If you try again to delete, I can see if it has changed or been removed in any way.

    Alan.

[2015-09-21 09:43] AlbaPi commented on #1215
I deleted before the 10th. I've deleted her again now today. Let's wait what happens.

Thank you,
Alba

[2015-09-21 10:31] alanbarrett commented on #1215
I will (when I get time) have to look at how the Google Login/Registration
works. Maybe the software is designed to work this way. I will have to
check the code.

    Alan.

On 21 September 2015 at 10:43, AlbaPi <notifications@github.com> wrote:

[2015-09-21 10:31] Paulina-Rosetta commented on #1213
Turns out I'm also unable to upload the translated file

[2015-09-21 10:33] Paulina-Rosetta opened #1216 "Change email on user account #9353"
User 9353  http://trommons.org/9353/profile would like to change their email dress to: a28p07@gmail.com

[2015-09-21 10:35] Wasala commented on #1215
If they already have an account in Trommons and if they are signed in to Google in their browser and visit Trommons,they will be automatically signed into Trommons.

[2015-09-21 10:38] Wasala commented on #1216
changed from adrienn.pan@gmail.com to a28p07@gmail.com.

[2015-09-21 10:38] #1216 closed

[2015-09-21 10:43] alanbarrett commented on #1213
I have a plan to put in error logging for uploading of a file to see if it fails... this is a very big file... I have not had a chance to do this yet. So I have no solution.

    Alan.

[2015-09-21 10:55] alanbarrett commented on #1215
Alba was trying to delete the Trommons account for the user (it is using
their husband's e-mail). They wanted to use their own account in the future.

So if I understand you Asanka, the person should just not visit Trommons
when signed into their Husbands GMail account. Or if they do they should
sign out from Trommons? and then sign in to their own GMail account (if
they have one) and then go to T

[2015-09-21 11:24] Wasala commented on #1215
@alanbarrett

You are correct. Unless they haven't blocked 3rd party cookies in their browser, using the gmail account (currently) signed on,  they will get automatically signed into Trommons when visiting Trommons login page. This happens only if they have initially given Trommons the permission to use that gmail account.

As you've mentioned, they should logout first from any other gmail account

[2015-09-24 12:29] Paulina-Rosetta opened #1217 "Notification email sent to wrong volunteer"
No here's a curious one. I was contacted by a volunteer (http://trommons.org/9353/profile) to say she received the folllowing email:

Thank you for claiming a volunteering task on Trommons! You have one week to complete the "Translation" task for "témoignage Costa Rica (Urgent)" from Spanish into French. Please ensure to upload your file before the deadline passes. If you have any questions about

[2015-09-24 13:07] alanbarrett commented on #1217
If that was before I made my fix last night then, I could understand that there had been incorrect parsing. However I still see errors today so it is not all solved... I am still looking at it.

    Alan.

[2015-09-24 14:05] alanbarrett commented on #1217
I did the change too late last night and while I copied down the new software to the backend. I forgot to compile it!!??

I have done that now and hopefully this will not reoccur... but I am abit worried also until this settles down.

I will close this as I think it should be fixed (hopefully).

    Alan.

[2015-09-24 14:05] #1217 closed

[2015-09-25 11:21] alanbarrett commented on #1215
Paulina, Alba,

Note the part from Asanka "you can ask the user to revoke access to Trommons for the former gmail account by logging into that account and visiting https://security.google.com/settings/security/permissions and removing Trommons from the list."

which should solve the translators problem.

    Alan.

[2015-09-25 11:21] #1215 closed

[2015-10-05 09:46] Paulina-Rosetta opened #1218 "Change email on user account #5317"
User http://trommons.org/5317/profile wants their email changed to alisontylerpc@posteo.de

[2015-10-05 10:27] alanbarrett commented on #1218
was: alisontylerpc@yahoo.co.uk

Done.

[2015-10-05 10:27] #1218 closed

[2015-10-10 17:35] alanbarrett commented on #1213
I finally got around to adding log information that should help track down what is happening, if/when this occurs again... Please let me know.

    Alan,

[2015-10-11 14:18] alanbarrett commented on #1211
I have now implemented this (added the link).

I have not done anything about the "See also".

    Alan.

[2015-10-11 14:18] #1211 closed

[2015-10-19 12:22] Paulina-Rosetta opened #1219 "Misleading description on review page"
One of the orgs has pointed out that they are asked to provie a review on the 'source file' on the review page. This is misleading, since they are reviewing translated or proofread files but not source files. I would suggest to change 'source file' to 'file' to avoid confusion. This will also need to be adressed in the localised versions.
![source file](https://cloud.githubusercontent.com/assets/4

[2015-10-19 13:20] alanbarrett commented on #1219
Done for English.

Here are the source strings that will need to be updated for other languages...

<string name="task_review_form_2">Were there many mistakes in the file?</string>
<string name="task_review_form_3">How was the use of grammar in the file?</string>
<string name="task_review_form_4">Were there many spelling errors in the file?</string>
<string name="task_review_form_5">Were there any

[2015-10-20 13:27] Paulina-Rosetta commented on #1219
Thanks Alan! Here's German and Spanish. I'll get back to you about Italian.

Gab es in der Datei viele Fehler?
Wie gut war die Grammatik in der Datei?
Gab es in der Datei viele Rechtschreibfehler?
Gab es in der Datei viele Inkonsistenzen?

¿Tenía muchos errores el texto?
¿Tenía errores gramaticales el texto?
¿Tenía errores ortográficos el texto?
¿Tenía errores de coherencia el texto?

[2015-10-21 16:54] alanbarrett commented on #1219
I have updated German and Spanish on the server.

    Alan.

On 20 October 2015 at 14:27, Paulina-Rosetta <notifications@github.com>
wrote:

[2015-11-05 11:38] Paulina-Rosetta opened #1220 "Suspicious registrations"
In the last 24h we've had a number of new registrations from suspicious-looking email addresses such as
aseret@mailsdfsdf.com
uhofoldec@mailapso.com
erexia@mailasdkr.com
uzeyakx@asdfmail.net
irowiiyaj@fghmail.net

Could this be a problem?

[2015-11-05 13:22] Paulina-Rosetta commented on #1219
Here's Italian:

C'erano molti errori nel file?
Che livello di grammatica c'era nel file?
C'erano molti errori di ortografia nel file?
C'erano errori di coerenza testuale nel file?

[2015-11-05 13:34] Paulina-Rosetta commented on #1220
Something similar also occured on 26/10/15 and on 28/10/15

[2015-11-05 15:24] alanbarrett commented on #1219
Thanks... I think I did not get Italian for our other recent change???...

Modified English:
<string name="task_review_form_2">Were there many mistakes in the
file?</string>
<string name="task_review_form_3">How was the use of grammar in the
file?</string>
<string name="task_review_form_spelling">Spelling</string>
<string name="task_review_form_4">Were there many spelling errors in the
file?</stri

[2015-11-05 15:26] alanbarrett commented on #1220
It's not ideal... but people try out to see can they get something for free
or bypass security in some way... Our security is not great... but
hopefully it will stand up to amature/semi-professional attempts.

    Alan.

On 5 November 2015 at 13:34, Paulina-Rosetta <notifications@github.com>
wrote:

[2015-11-05 15:42] alanbarrett commented on #1219
Ignore what I just wrote! I did not read the Italian!... I was getting my
issues mixed up (I thought it was for Twitter)... when I read the Italian,
I saw it was for the wording issue!

    Alan.

On 5 November 2015 at 15:23, Alan Barrett <alanabarrett0@gmail.com> wrote:

[2015-11-05 15:44] alanbarrett commented on #1220
I will close but let me know if the number surges. It could cause a loading issue for the backend because of the way it is written.

    Alan.

[2015-11-05 15:44] #1220 closed

[2015-11-06 16:37] alanbarrett commented on #1219
Changes are now made for this on live server, I am closing.

[2015-11-06 16:37] #1219 closed

[2015-11-06 16:43] alanbarrett opened #1221 "Add a Twitter Button when Translator has uploaded a Task, so they can tell the world"
Work initally done by https://sites.google.com/site/localizationunconference/germanlocalizationunconference

[2015-11-06 16:46] alanbarrett commented on #1221
Commit e21e643be91806d28b11839c5b470152e49726be
Commit b160ba9904132ab91ffb47ecbffddc51f8550ee5
Commit e2853421ec1eb34e31d32e92e48d6443ce2437c4
Commit 4c6017eb77a2f08ca071b36ca03614a0014e37a0

This is complete at least for one page, we could add more.

    Alan.

[2015-11-06 16:46] #1221 closed

[2015-11-12 11:53] alanbarrett commented on #1221
Added...
org/dashboard/
project/id/view/
org/id/task/id/review/

[2015-12-14 14:20] alanbarrett commented on #1203
In response to a Query by Paulina...

I have now rechecked the code and did an experiment to see could I edit someone else's profile which I could not.

The code is pretty clear that only the user themselves or a site-wide admin can see the ones you mentioned...
E-Mail
First Name
Last Name
Language Preference
City
Country

Display name is displayed publicly, by the way, although I did not mention

[2015-12-14 14:45] spaceindaver commented on #1203
Hey Alan, I gave a quick look at this procedure (UserRouteHandler line 761) and it seems it is dereferencing a NULL object. On line 733 there is a call to getPersonalInfo which will validate the currently logged in user to ensure they have the required permissions to access that user's personal info. If you do not have access then it will return NULL and log the error. As a result the function sho

[2015-12-14 15:45] alanbarrett commented on #1203
Yes thanks! I found that... But I decided to postpone fixing as the only
way a user can get into that situation is if they craft a URL to get to
that page without going through the UI which will not allow them go there
(or rather will not present them with a link to go there).

I will follow your suggestion the next time I am in that part of the code.

Thanks!

    Alan.

On 14 December 2015 at 14

[2016-01-18 11:46] Paulina-Rosetta opened #1222 "File uploaded for the wrong task"
A translator uploaded a file that he meant to upload for a different task. Can this task be reset to 'In Progress'? http://trommons.org/task/12601/view/

Many thanks

[2016-01-18 13:00] alanbarrett commented on #1222
I did: UPDATE Tasks SET `task-status_id`=3 where id=12601;
But I have now reversed that: UPDATE Tasks SET `task-status_id`=4 where id=12601;
Files are in: /repo/SOLAS-Match/backup/uploads/proj-3958
I don't know exactly what to delete without a good bit of investigation. A test of the simple approach on the dev server did not seem to work.
Also there is a TaskClaims table and possibly others.

So I

[2016-01-18 13:32] Paulina-Rosetta commented on #1222
Thanks Alan. I've archived the project and recreated it here: http://trommons.org/project/3994/view/

[2016-01-18 13:32] #1222 closed

[2016-01-18 13:56] alanbarrett commented on #1222
At a later stage I will look at the code so I will be in a position to do this sort of thing or possibly add a new feature to do it.

    Alan.

[2016-01-29 10:40] Paulina-Rosetta opened #1223 "Cannot delete user"
I'm trying to remove the user account of an an org member that no longer works with the org. I've tried twice - I click Delete User Account, get taken back to the home page (now logged out) but when I log back in to check the account is still there. http://trommons.org/8379/profile/

[2016-01-29 12:00] Paulina-Rosetta commented on #1223
Tried 2 more things. I revoked organisation membership and tried to dekete the account but still no luck. I then tried to delete her user the Delete User field on the Admin page but still nothing. She's undeletable :-o

[2016-01-29 17:28] alanbarrett commented on #1223
This did not work because the User has "TaskViews". As a short term solution I have deleted those records and was then able to delete the User.

There is an obvious proper fix...

Change: CONSTRAINT `FK_task_viewed_user` FOREIGN KEY (`user_id`) REFERENCES `Users` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE
To:     CONSTRAINT `FK_task_viewed_user` FOREIGN KEY (`user_id`) REFERENCES `Users` (`id`)

[2016-01-29 17:39] spaceindaver commented on #1223
Hey Alan, that seems like a reasonable change to me. There is no value in storing task views or tasks that have been unclaimed for users that no longer exist. If you do think the data is valuable then it could be worthwhile adding a deleted user account with a static ID and updating all the tables to point to that user whenever a user is deleted. That way you will still be tracking the view (for e

[2016-01-29 17:50] alanbarrett commented on #1223
OK I will do that next week, but I will wait to hear from @Wasala first.

    Alan.

On 29 January 2016 at 17:39, David O Carroll <notifications@github.com>
wrote:

[2016-01-31 14:58] alanbarrett commented on #1223
As well as @Wasala (https://github.com/TheRosettaFoundation/SOLAS-Match/commit/e0fb862b36e5d51617120b4bcbe77918a838c07c) @TheIceMageX50 previously implemented the other case: https://github.com/TheRosettaFoundation/SOLAS-Match/commit/a257ed13c437e3407fb621c165f2bb9af69c9260

    Alan.

[2016-02-03 16:40] alanbarrett commented on #1223
Fixed by commit db76511b2bad991ca816a7496c228fdc2573fec2 and ALTER statements to Database

[2016-02-03 16:40] #1223 closed

[2016-02-10 15:05] alanbarrett opened #1224 "There should be away of viewing archived tasks"
There should be away of viewing archived tasks (for (all?) users or possibly for admins only).

    Alan.

[2016-02-15 11:18] Wasala commented on #1223
@alan Apologies for the delayed response and not being able to contribute actively. The task views tables was implemented mainly for the purpose of data mining: #1118. While I have done a mistake in the SQL query specifying "NO ACTION" (or I had actually forgotten the real reason for doing so by now), the only disadvantage of "CASCADE" operation is that we will loose some data to track the task vi

[2016-02-17 18:26] alanbarrett opened #1225 "Need a way of changing a Users email"
We need a way of changing a Users email.

    Alan.

[2016-02-18 15:27] alanbarrett commented on #1225
https://github.com/TheRosettaFoundation/SOLAS-Match/issues/1225
I have now implemented this. There is now a button, if you are a Site Admin, "Change User email Address".

Clicking on this bring you to a page which allows you to change the email for that user.

Be sure that the email really belongs to the user!

Range of commits that implement this (click on files tab)...
https://github.com/TheRose

[2016-02-18 15:27] #1225 closed

[2016-03-06 08:50] alanbarrett opened #1226 "Bring Users who have not set their Native Language to Edit their Profile when they login"
Bring Users who have not set their Native Language to Edit their Profile when they login.

They are not compelled to edit.

    Alan.

[2016-03-06 08:53] alanbarrett commented on #1226
Done: commit dea5d16590d8afb823aa2e4a83e823d43f0f1302

[2016-03-06 08:53] #1226 closed

[2016-03-07 15:23] alanbarrett opened #1227 "Cookies should be Encrypted"
Cookies should be Encrypted (see https://github.com/TheRosettaFoundation/SOLAS-Match/issues/1169 (2)).

This helps hide server side information which is passed back and forward to the client. It actually will not majorly improve security, but it should be done nonetheless.

    Alan.

[2016-03-07 15:40] alanbarrett commented on #1227
Done!

Implemented by: 479ff91b14ab996c53ab64b22304d59a6504bd40

    Alan.

[2016-03-07 15:40] #1227 closed

[2016-03-15 12:31] Paulina-Rosetta commented on #828
@alanbarrett This is still a problem and I keep forgetting to mention it to you :-)

[2016-03-21 18:26] alanbarrett opened #1228 "Organisations quite frequently Archive Projects/Tasks by mistake"
Organisations quite frequently Archive Projects/Tasks by mistake. There is a desire to limit this to Site Admins.

Somewhat Related to #1224

    Alan.

[2016-03-23 16:20] alanbarrett opened #1229 "Some Tasks with a `task-status_id`=2 (PENDING) have TaskClaims entries, so they do not appear in the Task Steams"
SELECT * FROM Tasks t, TaskClaims tc WHERE t.id=tc.task_id AND t.`task-status_id`=2;
Shows some Tasks on the dev server. I have fixed all those (7) on the live server.

I cannot see how this can be the case after much checking of the code. I am adding some more logging.

    Alan.

[2016-03-23 17:26] alanbarrett commented on #1228
Implemented with commit 513450ab39995a382ce3204cb040c7158b0d3040

    Alan.

[2016-03-23 17:26] #1228 closed

[2016-03-26 16:10] alanbarrett opened #1230 "Give users a chance on their Edit Profile Page to set Task Steam Preferences (and default to Strict/Daily)"
Give users a chance on their Edit Profile Page to set Task Steam Preferences (and default to Strict/Daily)

    Alan.

[2016-03-26 16:16] alanbarrett commented on #1230
Done see commit 6b88dbba4145feba0d941b644909ea49b44ae04f

    Alan.

[2016-03-26 16:16] #1230 closed

[2016-03-30 16:10] alanbarrett commented on #828
I have determined the cause for this. It worked on the test server because Trommons was not in the document root. I have removed a check that the Trommons sub-folder was part of the Path (this test fails on the live server because there is no sub-folder as Trommons is in the document root). Even though the change is very simple, I had quite a few cases to test as there was a possibility that the b

[2016-03-31 14:26] alanbarrett commented on #828
Now implemented in master branch (as outlined above and after discussion with Alba who pointed out that if they are getting (Task Stream) links they have probably edited their profile): commit 1f165683b263c56c126596a83b7764cf7e8b286b

    Alan.

[2016-03-31 14:26] #828 closed

[2016-05-03 15:16] alanbarrett opened #1231 "Expand the Data (requested, not mandated) in the Organisation Profile"

[2016-05-03 15:39] alanbarrett commented on #1231
commit 7841754b420aee1ee4c9e819375c8478a198110a resolves

[2016-05-03 15:59] alanbarrett commented on #1231
Implemented on Trommons.

    Alan.

[2016-05-03 15:59] #1231 closed

[2016-05-03 16:33] alanbarrett commented on #1166
Note: TemplateHelper::uiCleanseHTML() and other related methods are also used in some templates.

    Alan.

[2016-05-04 16:16] alanbarrett opened #1232 "This task seems to be corrupted and I can['t] delete it: http://trommons.org/task/15044/view/"
Alba submitted this: This task seems to be corrupted and I can['t] delete it: http://trommons.org/task/15044/view/
The Task has a status of "In Progress" but there is no "TaskClaims" entry.

This causes http://trommons.org/task/15044/org-feedback/ to give error: "Fatal error:  Call to a member function getId() on a non-object"

If the Claim was deleted the "TRIGGER `afterDeleteTaskClaim`" should h

[2016-05-04 17:42] alanbarrett commented on #1232
Apparently it is a bug/feature of MySQL that a cascading delete will not trigger a trigger (i.e. deleting a User may delete a TaskClaims without the TRIGGER afterDeleteTaskClaim being triggered). However I have no reason to believe a User was deleted in this case.

    Alan.

[2016-05-07 15:03] alanbarrett commented on #1232
I have fixed the crash issue if the "TaskClaims" entry is missing (for both user and org feedback pages). It also will be possible to revoke the task in these cases without causing a problem. Instead of the name of the user claiming the task (which is missing), there will be a message (or in the case of the revoke, a blank). Note a revoke message will still have to be entered, even though in one o

[2016-05-07 15:03] #1232 closed

[2016-05-10 09:07] Paulina-Rosetta commented on #1152
@alanbarrett

[2016-05-10 14:02] alanbarrett commented on #1152
This problem (or at least a version of it) reoccurred. When an organisation is created, the user is added as an Admin of a different organisation and the email is sent to the wrong person.

Commit a0cd5b6f93c242f26549bde49efadeac016443af fixes this.

The parameter list to the MySQL stored procedure getOrg (and also getTask) has the wrong size of VARCHAR. So if an organisation name is greater that

[2016-06-07 19:00] alanbarrett opened #1233 "Only Org Admins (or Site Admins) should be able to edit Org"
Only Org Admins (or Site Admins) should be able to edit Org.

Presently ordinary members can attempt to edit but will get an error when they save.

    Alan.

[2016-06-07 19:05] alanbarrett commented on #1233
Fixed by: https://github.com/TheRosettaFoundation/SOLAS-Match/commit/f0ecfb80a69ff2ad8a9c1bcd87e0db6c65ac7a03

[2016-06-07 19:05] #1233 closed

[2016-06-08 16:50] alanbarrett commented on #1233
At request of Alba & Paulina...

1) When manually adding a user to the Organisation, make them an Admin for simplicity
2) Also don't allow Organisation membership request, only manually add by Organisation members

https://github.com/TheRosettaFoundation/SOLAS-Match/commit/4350841e2d4eacac338ec93eda3ebb7116a760c0

    Alan.

[2016-06-11 07:37] alanbarrett opened #1234 "Track Organisation Not Implemented"
It seems Track Organisation is not implemented. There are a number of places it is possible to track an organisation. You get a message "Success: You are now tracking this organisation and will receive email notifications related to its activities.".

As far as I can see the resultant database record is not productively used and there does not seem to be any code to send emails (getTrackedOrganisa

[2016-06-25 18:27] alanbarrett opened #1235 "If there is a "Qualified" Badge, only show Tasks to users with that badge"
If there is a "Qualified" Badge, only show Tasks to users with that badge.
This is designed to allow a organisation to only use "Pre-Qualified" Volunteers.

All the Organisation has to do to enable this is create a "Qualified" (exact spelling) Badge for their Organisation.
They they assign this badge to the pre-qualified volunteers. Only these volunteers will see Tasks for that Organisation
(on th

[2016-06-27 15:58] alanbarrett commented on #1235
Done. See: commit https://github.com/TheRosettaFoundation/SOLAS-Match/commit/8317f33277989ce396184b0760ef33b1542acda5

    Alan.

[2016-06-27 15:58] #1235 closed

[2016-06-28 11:55] alanbarrett commented on #1234
Buttons to Track Organisation removed: https://github.com/TheRosettaFoundation/SOLAS-Match/commit/fdfe686c0aee2c9a0edd0e4fd10481c236e9ce7f

    Alan.

[2016-06-28 11:55] #1234 closed

[2016-07-05 13:27] alanbarrett commented on #1213
New occurrence of similar issue from @Paulina-Rosetta...

We’re trying to download a file from Trommons but we get this error message: Warning! We could not find the requested file on our system. Requested file type: latest task file version. Please contact us at info@trommons.org with details of this problem.
It’s the proofread file we want to download but even when we try the translation, we get

[2016-07-05 18:16] alanbarrett commented on #1213
Immediate cause...

        $ret = file_put_contents($destinationPath, $file) ? 1 : 0;
gives...
PHP Fatal error:  Allowed memory size of 524288000 bytes exhausted (tried to allocate 139736395 bytes) in /repo/SOLAS-Match/api/v0/IO.php on line 457

    Alan.

[2016-07-06 08:54] Paulina-Rosetta commented on #1213
Thanks Alan. Is there any way we can get at the file?

[2016-07-06 10:12] alanbarrett commented on #1213
When I get home, I will check again we have nothing on the site.

    Alan.
On 6 Jul 2016 09:54, "Paulina-Rosetta" <notifications@github.com> wrote:

[2016-07-06 10:31] Paulina-Rosetta commented on #1213
All good – we got the files! J Will I share them with you so you can put them up on the site?

From: Alan Barrett [mailto:notifications@github.com]
Sent: 06 July 2016 11:13
To: TheRosettaFoundation/SOLAS-Match
Cc: Paulina-Rosetta; Mention
Subject: Re: [TheRosettaFoundation/SOLAS-Match] Cannot download translation (#1213)

When I get home, I will check again we have nothing on the site.

Alan.
On 6

[2016-07-06 11:03] alanbarrett commented on #1213
Yes please share with me (on Google Drive?). Please make sure to indicate
which one is which task.

   Alan.

On 6 July 2016 at 11:31, Paulina-Rosetta <notifications@github.com> wrote:

[2016-07-06 11:39] Paulina-Rosetta commented on #1213
Here’s the link to the proofread file on Google Drive – I don’t have the translation. https://drive.google.com/a/therosettafoundation.org/file/d/0B6IDsYkaXI1ocWhteDIxcHBnTkU/view?usp=sharing

[2016-07-06 14:04] alanbarrett commented on #1213
I have uploaded that file to...
/repo/SOLAS-Match/backup/uploads/proj-4421/task-14722/v-1/The-Great-Plant-Hunt-Identikit.docx

That fixes (assuming the file is the correct one) the Proofread Task.

    Alan.

[2016-07-06 14:22] alanbarrett commented on #1213
I have modified the php.ini setting to
memory_limit = 1000M
, restarted and looked at process memory use (for normal day to day use). All seems OK.

The new Memory limit per PHP script invocation should be plenty to cover these very big files. It seems to be that at most when uploading an output file the UI would have 4 copies of the file string and the API at most 6 copies (giving a maximum for f

[2016-07-06 14:22] #1213 closed

[2016-07-13 11:55] alanbarrett opened #1236 "User can potentially claim a Task which is Already Claimed"
A User can potentially claim a Task which is Already Claimed.
Access to http://trommons.org/task/???/claim/ (task.claim.tpl which includes task.claim-translation.tpl etc.)
is not stopped and it will also be possible to claim a task.

Note: http://trommons.org/task/???/id
if accessed by manually creating the URL or otherwise will give a warning "This task has been claimed by another user" and not b

[2016-07-13 13:57] alanbarrett opened #1237 "A user can go to http://trommons.org/task/xxx/simple-upload/ for a task claimed by no one at all"
A user can go to http://trommons.org/task/xxx/simple-upload/ for a task claimed by no one at all. That is not good, I think. They may even be able to do an upload.

I assume we do not want that. Is that even allowed for a site admin? I think not.

    Alan.

[2016-07-14 06:37] alanbarrett opened #1238 "Database Procedure claimTask allows two Users to claim the same Task"
PROCEDURE `claimTask`(IN `tID` INT, IN `uID` INT)
allows two users to claim the same task.

Additionally the atomicity of the IF/COMMIT should be reviewed.

Note: SELECT COUNT(_), task_id FROM TaskClaims GROUP BY task_id HAVING COUNT(_)>1;
is empty, which means this has not been done.

Moved from https://github.com/TheRosettaFoundation/SOLAS-Match/issues/1236

[code]

[2016-07-14 06:39] alanbarrett commented on #1236
Database part moved to separate issue (it is lower priority)...

https://github.com/TheRosettaFoundation/SOLAS-Match/issues/1238

[2016-07-14 14:07] alanbarrett commented on #1236
Commit 5819361774a9b96b2c99dbb5d0110f6eb719df63 fixes

[2016-07-14 14:07] #1236 closed

[2016-07-14 14:09] alanbarrett commented on #1237
Commit 5819361774a9b96b2c99dbb5d0110f6eb719df63 fixes.

    Alan.

[2016-07-14 14:09] #1237 closed

[2016-07-22 16:11] alanbarrett commented on #1229
In authUserOrOrgForTask() Middleware for API the test for Organisation Membership should be for current user, not Task claimer
Commit d0104d2695e6946e5043fb0dc3ff092fa171c89b fixes.

Without this fix when a POST to /task/:task_id/org-feedback/ is processed,
the API fails to call "public function unclaimTask($userId, $taskId, $feedback)".
So although the task is updated to PENDING and the Organisat

[2016-07-22 16:11] #1229 closed

[2016-07-22 16:25] alanbarrett opened #1239 "getUserTaskReviews() when it calls the API always causes the middleware authUserOrOrgForTask() to succeed no matter what"
public function getUserTaskReviews($userId, $taskId) when it calls the API always causes the middleware authUserOrOrgForTask() to succeed no matter what because it passes the same user as the current user even if this is not the appropriate user for the task in question.

This is not a very serious issue because the front end does appropriate tests and it is unlikely someone will try to call the A

[2016-07-22 17:16] alanbarrett commented on #1239
This is probably OK when called via API externally to Trommons (either the user has claimed the Task or the Current User is a member of the Organisation that owns the Task).

Closing.

    Alan.

[2016-07-22 17:16] #1239 closed

[2016-08-16 08:56] Paulina-Rosetta opened #1240 "User claimed proofreading task for his own translation (desegmentation)"
We just discovered that it is possible for a user to claim the proofreading task of their own translation if the translation was part of a desegmented file. Is there any way to make this impossible?

It occurred on this project, specifically on the Spanish task: http://trommons.org/project/5138/view

[2016-08-29 10:36] Paulina-Rosetta opened #1241 "Changing word count after completion"
Alan,

This project has already been completed and the volunteer has complained that the word count was incorrect. She would like it changed so it appears correctly on her reference. Is this possible?

Here's the project: http://trommons.org/task/17665/view/

The actual word count was 1120 words.

[2016-08-29 15:16] Wasala commented on #1241
Did you try: http://trommons.org/project/5280/alter/

[2016-08-30 07:29] alanbarrett commented on #1241
I don't think changing the Project word count (although probably good for consistency) will change the Task word count. I have now done this via SQL.

    Alan.

[2016-08-30 07:29] #1241 closed

[2016-08-30 09:13] Paulina-Rosetta commented on #1241
Thank you Asanka and Alan!

[2016-09-12 11:16] alanbarrett opened #1242 "Not able to create projects"
I am emailing to you because three organisations has written this weekend saying that they are not able to create projects.
One has sent us the message that was shown when they were trying to create the project:
Message:The user does not have permission to access the current resource
Loc:        /repo/SOLAS-Match/Common/lib/APIHelper.class.php
Line: 119
Code: 403
Trace:
0 /repo/SOLAS-Match/ui/Data

[2016-09-12 11:18] alanbarrett commented on #1242
Commit 15afe6ed34a18fa16457398d49e8e0cbc66bc74e fixes.
Should not have been just Site Admin, should also have been Org Member, but Logged in User will do.

    Alan.

[2016-09-12 11:18] #1242 closed

[2016-09-20 16:19] alanbarrett commented on #1169
HTTPS has now been implemented for Trommons. As well as the Apache Site Settings (SSL and redirects) and Trommons configuration settings a series of commits ending with https://github.com/TheRosettaFoundation/SOLAS-Match/commit/620339e532c22e17d0f42c96b8d41030c20ea642 were made.

There were also small backend changes: https://github.com/TheRosettaFoundation/SOLAS-Match-Backend/commit/f1a221fa4ef5d

[2016-09-25 14:46] alanbarrett commented on #1240
Paulina, I was not able to reproduce this in a straightforward manner. I did learn about how segmentation works, which is useful.

I created a new segmentation project (on test server). I claimed the segmentation Task and uploaded two resulting files (ticking Translation and Proofreading) so this generated 5 more tasks. I claimed and uploaded the first Translation Task and then tried to download t

[2016-09-28 11:25] Paulina-Rosetta opened #1243 "Desegmentation bug"
When I go to upload the files for this desegmentation (https://trommons.org/task/18533/desegmentation/) I get the following error:

Slim Application Error
Message:Undefined variable: preReqTasks
Loc: /repo/SOLAS-Match/ui/RouteHandlers/TaskRouteHandler.class.php
Line: 928
Code: 8

Trace:

0 /repo/SOLAS-Match/ui/RouteHandlers/TaskRouteHandler.class.php(928): Slim\Slim::handleErrors(8, 'Undefined var

[2016-09-28 11:31] alanbarrett commented on #1243
Fixed by 557c3655c13bc50066da4265d01a912ecd3d9bf6

Someone had forgotten to initialise a variable. PHP used to let you away with that. This crash only occurs if the task has no prerequisites.

I have a vague memory of noticing this code before but assumed that whoever wrote it knew what they were doing.

    Alan.

[2016-09-28 11:31] #1243 closed

[2016-09-28 16:44] alanbarrett commented on #1166
Addressed by: https://github.com/TheRosettaFoundation/SOLAS-Match/commit/586b66b37a4653e756c27d11aac536677ac76125

    Alan.

[2016-09-28 16:44] #1166 closed

[2016-10-10 16:14] alanbarrett commented on #1169
This issue has been resolved (I think) by using HTTPS.
Also the returned "userHash" should not be interceptable by CSRF as an attacker will not see the response data.

So it seems that "userHash" (will protect all $.ajax() from a CSRF.
In these calls it is passed as
      headers: {
        "Authorization": "Bearer " + userHash
      }

Of course XSS could get this value, but we should now be prot

[2016-10-10 16:17] alanbarrett commented on #1169
"However, this hash does not add any real security as currently configured and should be reviewed"
... this is necessary as indicated in previous comment for CSRF prevention.

    Alan.

[2016-10-12 11:56] alanbarrett opened #1244 "Tag Subscription via GET"
ui/templating/templates/tag/tag.tpl sets a tag subscription via a get mechanism with might potentially be subject to CSRF attack. However, since this is not too dangerous a result (changing a tag subscription), I am going to ignore.

    Alan.

[2016-10-14 13:44] alanbarrett commented on #1244
Because there is one other GET which is a more substantial risk, I will fix both as part of https://github.com/TheRosettaFoundation/SOLAS-Match/issues/1169

    Alan.

[2016-10-14 13:44] #1244 closed

[2016-10-14 14:32] alanbarrett commented on #1169
The security review is now complete.

The final item was projection against CSRF (Cross Site Request Forgery). I have protected 54 POSTs and 3 GETs.

See commit ee68737f9a81ed21b74baa72ffbd064cf9aa2ac0

So the standard security issues should now be covered. That is not to say we would be covered for everything e.g. a Denial of Service attack.

This has all been tested and brought to the live Tromm

[2016-10-14 14:32] #1169 closed

[2016-10-19 07:21] alanbarrett opened #1245 "Automatically track Projects for (some?) Site Administrators when Project Created"
When a Project is created, automatically (for some admins)  Track the Project. @Paulina-Rosetta requested this.

[code]

[2016-10-19 07:23] alanbarrett opened #1246 "Method to allow upload Glossary other support files for a Project"
@Paulina-Rosetta requested a method to allow uploading of Glossary and other support files for a Project.

    Alan.

[2016-10-26 22:07] alanbarrett opened #1247 "Track Task Gives wrong Message"
When I Track a Task in e.g. https://trommons.org/task/18981/view/
it works but gives the wrong message (it says: You are no longer tracking this task and will receive no further emails.)

Likewise un-tracking gives the wrong message (You are now tracking this task and will receive email notifications when its status changes.).

@Paulina-Rosetta have you noticed this? Am I missing something?

[code

[2016-10-27 08:46] Paulina-Rosetta commented on #1247
I had never noticed this! Probably because I usually track projects rather than tasks. Also, it seems to work fine when I try to un/track the task on the Project page rather than the Task page.

[2016-10-27 14:24] alanbarrett opened #1248 "task/18981/segmentation bytes exceeds the limit of 157286400 bytes"
PHP Warning:  POST Content-Length of 532607378 bytes exceeds the limit of 157286400 bytes
referer: https://trommons.org/task/18981/segmentation

1) I have already increased  the POST upload limit many times. It would probably be unreasonable and too much a load on the system to increase it further. But I will think about this.

2) I need to add proper error messages to segmentation... it should be

[2016-10-27 15:41] alanbarrett commented on #1247
OK I will fix, good to know it just happens on task page.

    Alan.

On 27 October 2016 at 09:46, Paulina-Rosetta <notifications@github.com>
wrote:

[2016-11-01 15:57] alanbarrett commented on #1248
@Paulina-Rosetta , Maddalena,

With reference to https://github.com/TheRosettaFoundation/SOLAS-Match/issues/1248 ...
I think it is best if we limit the total file upload size for all segments to 145MB (equal to the file original upload limit). I think it is dangerous/not appropriate, for a number of reasons, to increase that. Is that OK?

So I have added new "JavaScript" software that will alert t

[2016-11-02 11:16] Paulina-Rosetta opened #1250 "Completed task needs to be reassigned"
This task is 'Complete' but the volunteer uploaded an incomplete translation: https://trommons.org/task/18315/view/

A complete translation has now been sent to us by a different volunteer. We want to revoke the task and reassign it to this volunteer so they can upload their file: https://trommons.org/9453/profile/

[2016-11-02 15:51] alanbarrett commented on #1247
@Paulina-Rosetta
Fixed by commit 3786cf975ab741c14d901a810442e5c6d2128bdf

    Alan.

[2016-11-02 15:51] #1247 closed

[2016-11-02 15:55] alanbarrett commented on #1248
@Paulina-Rosetta
Resolved by commit 5aacd870cd65fff165af2d4d826641772fc96035

    Alan.

[2016-11-02 15:55] #1248 closed

[2016-11-02 17:59] alanbarrett commented on #1250
It is dangerous for me to do exactly what you want. But I could upload the completed file if you send to me and change the user who has claimed the task. So then everything should be more or less OK (I hope).

One stange thing though is that it seems as if https://trommons.org/15613/profile/ has unclaimed the task, which should have made the task available again, but maybe that was done too late??

[2016-11-03 09:50] Paulina-Rosetta commented on #1250
I'll send the file now, can't attach it here cause it's a .doc. Thanks Alan!!

[2016-11-03 12:46] alanbarrett commented on #1250
Uploaded file
sudo cp -p ~/CRPD-GC-4.doc /repo/SOLAS-Match/backup/uploads/proj-5482/task-18315/v-1/CRPD-GC-4.doc
sudo chown www-data:www-data /repo/SOLAS-Match/backup/uploads/proj-5482/task-18315/v-1/CRPD-GC-4.doc
sudo chmod 644 /repo/SOLAS-Match/backup/uploads/proj-5482/task-18315/v-1/CRPD-GC-4.doc

UPDATE TaskFileVersions SET user_id=9453 WHERE id=34538;
UPDATE TaskClaims SET user_id=9453 WHERE

[2016-11-03 12:46] #1250 closed

[2016-11-08 15:29] alanbarrett commented on #1238
ALTER TABLE `TaskClaims` ADD UNIQUE KEY `FK_task_claim_task` (`task_id`);
  and
commit 69c98ea14de2d3c265138feb987c5555592b5586

fixes this in a straightforward way.

Since the task_id is now unique, the problem cannot occur. Any attempt to do this will fail the transaction in "claimTask".

Note a few extra things...

- For simplicity of my fix, I have left the "UNIQUE KEY `Tasks` (`task_id`,`user

[2016-11-08 15:29] #1238 closed

[2016-11-10 11:11] Paulina-Rosetta opened #1251 "No tasks available for language listed in filter menu"
I am not sure if it's just me or if this is a genuine bug.

I just went to filter the task stream and chose Spanish from the source language list. It says that there are no tasks available. However, if the language appears in the list, surely this means that there are tasks available, otherwise it shouldn't appear in the first place? What am I missing?

![spanish](https://cloud.githubusercontent.c

[2016-11-10 15:15] alanbarrett commented on #1251
When I do the same and click Filter Task Stream, I do get some Spanish tasks.

e.g. https://trommons.org/project/5738/view and https://trommons.org/task/19189/view/
They may have been created just after you looked because that project was created: "2016-11-10 11:29:26"
and the task https://trommons.org/task/19189/view/ was created: "2016-11-10 11:53:13"

So since I cannot reproduce the situation w

[2016-11-11 09:35] Paulina-Rosetta commented on #1251
I think all the Spanish tasks are now claimed so I'm getting the same again - maybe try now? :-)

[2016-11-11 15:05] alanbarrett commented on #1251
Paulina,

I see the following Spanish (source) task... Is it not in your list? If not
that is a problem (I don't think you "strict" setting affects this
display)...
https://trommons.org/task/18990/id

    Alan.

On 11 November 2016 at 09:35, Paulina-Rosetta <notifications@github.com>
wrote:

[2016-11-12 17:18] alanbarrett commented on #1169
This is now enabled with commit a3f238386a3d7267bc9d9275eb32b5407578a0fb

@Paulina-Rosetta I have now enabled the CSRF security check code (after waiting for 3+ weeks and looking at the error log to see would it cause problems).

A bad (partial) file upload, especially in simple upload, mimics this condition. So I just give a proper (pre-existing) error message indicating a partial file upload and

[2016-11-14 09:46] Paulina-Rosetta commented on #1251
This only became available after I posted :-) It is on my list now, along with https://trommons.org/task/19178/id

[2016-11-18 10:13] Paulina-Rosetta opened #1253 "Task file not updated after re-upload"
I have re-uploaded the trasnlation of this task several times but when I download the file again, I still get the old version: https://trommons.org/task/19108/view/

Everything seems to be working fine but the file doesn't update. Help!

[2016-11-18 17:02] alanbarrett commented on #1253
https://trommons.org/org/19/task/19108/complete/ ...
Paulina (using Firefox) gets version-1, whereas I get version-3 as expected (using Chrome).
Paulina also gets version-3 using Chrome.
She cleared Cookies and now gets the correct version (using Firefox).

At first when going through this with Paulina, I thought this was a Firefox bug with caching.
Now I see that Firefox might be doing what is re

[2016-11-19 16:16] alanbarrett commented on #1253
Some points after quite a bit of investigation...

1) There was a problem with the environment at the Rosetta Foundation office.
Not sure why, because for me, Firefox V50.0 (as well as Chrome) always re-downloads the file.
Maybe there is a public cache at the office which held the file?
But not evident why clearing the Cookies etc. worked (I assume The Firefox is up to date).

2) In any case the "

[2016-11-19 19:54] alanbarrett commented on #1253
I am going to use...
Cache-Control: no-cache, must-revalidate, no-transform
Pragma: no-cache

Because we should not have caching with any expiry time because in theory the files or images could change at any time.
"no-cache" does allow the use of the Etag by the browser to re-validate with a server that a file has not changed so avoiding a re-download.

    Alan.

[2016-11-20 05:25] aquilax commented on #1253
Sorry for the late rely @alanbarrett

I don't think we can rely on ETag for dynamically generated content. Safest bet IMO for these files will be no caching at all, as you suggested.

[2016-11-20 06:18] aquilax commented on #1245
@alanbarrett Is [this](https://github.com/TheRosettaFoundation/SOLAS-Match/blob/master/api/DataAccessObjects/AdminDao.class.php#L25) the right method to get the site administrators?

[2016-11-20 11:48] alanbarrett commented on #1245
@aquilax,

Yes when called with no parameters. This function is at the API (api/) level. Although we only want "some" admins to track.

I thought you were thinking of doing this at the database level.

At the database it is...
call getAdmin(NULL, NULL);
  or
SELECT * from Admins WHERE organisation_id IS NULL;

The database procedure userTrackProject() tracks a project for a user.

    Alan.

[2016-11-20 11:53] aquilax commented on #1245
@alanbarrett yes database will save the round-trips, but on the other side deploying changes in the schema is quite inconvenient.

How do you prefer to identify the admins, which will follow the project: separate table in the database, separate field in Admins, list of id-s in the config, or any other angle, I'm missing ?

[2016-11-20 12:05] alanbarrett commented on #1245
@aquilax ,

I had thought a separate table in the database. It could just be one row for each person that should track. They might not even be admins. I would have been happy to hand deploy to the Live server and test servers.

However I think you have convinced me that we could avoid any database changes by adding a new config setting (list of user ids) and some code at API level to track the pro

[2016-11-20 12:18] aquilax commented on #1245
Changes in database would be fine if we had proper migrations, but since that is not the case, there is always the doubt if the update was applied or not.

Will place it in the config. :+1:

[2016-11-20 12:39] alanbarrett commented on #1253
Yes ETag should not be used for dynamic content (and it is not). However it is valid to use it for files (project, task and image files).

I now see my comment that "ETag" was not been used was incorrect, because I had caching turned off when using Chrome's developer tools! It is being using correctly to validate that the browser has the most up to date version of a file using the "If-Range" heade

[2016-11-20 14:49] alanbarrett commented on #1253
@aquilax , @Paulina-Rosetta ,

This is now resolved. Although browsers with un-cleared caches may have an "historical" problem with some files.

I tested by clicking download on page: https://trommons.org/org/19/task/18888/complete/
The download causes a GET to https://trommons.org/task/18888/download-task-latest-file/
Now the first time a GET request is made for the file download the Chrome sees

[2016-11-20 14:49] #1253 closed

[2016-11-21 12:42] alanbarrett commented on #1245
@Paulina-Rosetta who do you want to automatically follow all new projects? You and ???

@aquilax (Evgeniy) has done code for that, which we will be deploying soon.

    Alan.

[2016-11-21 12:54] Paulina-Rosetta commented on #1245
Just me for now. Thanks!

[2016-11-22 15:54] alanbarrett commented on #1245
@Paulina-Rosetta I have now tested and deployed @aquilax 's code for this issue to the live server. So from now you should automatically be tracking new Projects (and their related tasks).

    Alan.

[2016-11-22 15:54] #1245 closed

[2016-11-23 09:49] Paulina-Rosetta commented on #1245
Seems to work perfectly - thank you both

[2016-11-25 10:42] Paulina-Rosetta opened #1256 "Cannot change deadlines on 'In progress' tasks"
While this might sound like it shouldn't be possible, it is usually possible, but not in this case.

We added new languages to an old project yesterday: https://trommons.org/project/5622/view/
This involved adding two segmentation tasks. When the segments for these were uploaded, they (the segments = translation tasks) took their deadlines from the old project deadline which was 29 Nov. I have sin

[2016-11-25 12:31] alanbarrett commented on #1256
"public function parseAndBuild($graphArray)" is returning false.

I may not get to sorting this out straight away I do not understand this part of the code and as I have committed to help a Nephew (and separately a Niece) with Maths and other Engineering studies.

Maybe @aquilax will get a chance over the weekend, but if not, I will look at it.

    Alan.

[2016-11-27 17:25] alanbarrett commented on #1256
I can reproduce and have started to look at this. I have dumped the "$graphArray" in the log.

    Alan.

[2016-11-27 17:51] aquilax commented on #1256
@alanbarrett sorry, saw this just now.

[2016-11-27 17:52] alanbarrett commented on #1256
That is OK, I have started to look at it.

    Alan.

On 27 November 2016 at 17:51, Evgeniy Vasilev <notifications@github.com>
wrote:

[2016-11-29 18:46] alanbarrett commented on #1256
At last..
The Template has checkboxes disabled when a task has been Claimed, so they will never be successfully sent to server.
So the server ends up incorrectly with a NULL for the prerequisites for the current task being edited.
This causes the "deadlock" error to be displayed incorrectly.
So I have changed the code to not take the new prerequisites from the browser template when
a task is Claim

[2016-11-29 18:46] #1256 closed

[2016-12-01 15:51] alanbarrett opened #1258 "ln -s /vagrant/assets/conf.ini /var/www/html/match/Common/conf/conf.ini fails"
@aquilax as requested...

Related to Vagrant provisioning this "ln -s /vagrant/assets/conf.ini /var/www/html/match/Common/conf/conf.ini" does not work on VirtualBox under Windows 10.
See: https://github.com/TheRosettaFoundation/SOLAS-Match/blob/develop/vagrant/provision.sh#L68

It gives a "protocol error" when done by hand (i.e. independently of Vagrant). It is not a big issue as I can copy that o

[2016-12-01 16:21] aquilax opened #1260 "Allow ui to make direct calls"
Currently the UI makes calls to the API adding extra round-trip times and complexity.
We want to investigate what is the best way to use the UI directly.

[2016-12-02 12:21] #1258 closed

[2017-01-09 10:50] stefania91 opened #1262 "Task stream for organisation members"
Hello! An organisation just said that one of their members received a task stream notification email: this shouldn't happen, right?

[2017-01-09 11:49] alanbarrett commented on #1262
Well if they have set in their personal profile that they want to see notifications they will get them, maybe they set that by accident.
See "Task Stream Notifications How often do you receive task stream e-mail updates?".
They can click "Edit Notifications".

    Alan.

[2017-01-18 11:30] alanbarrett opened #1263 "Create organisation button"
@stefania91 raised this issue https://github.com/TheRosettaFoundation/SOLAS-Match-Backend/issues/47

But it should be here as it is a front end issue (see old issue for screenshot)...

We just realised that the "Create organisation"button has disappeared from all the non-admin profiles.

For example, @Paulina-Rosetta can see it from her admin account, but not from her volunteer standard account.

[2017-01-18 12:13] alanbarrett commented on #1263
The user has an issue (ideally we should do a usability review)... but we think there is not a software problem.

    Alan.

[2017-01-18 12:13] #1263 closed

[2017-01-20 11:02] Paulina-Rosetta opened #1264 "Setting to unpublish task when creating a new project doesn't work"
On the Project Create page, there is a checkbox (Publish Tasks) that can be unticked to make sure newly created tasks don't immediately get published. This is sometimes important for privacy reasons.

When creating six new projects yesterday, I unticked this box each time, but all tasks ended up published. I had no problem unpublishing them manually afterwards.

[2017-01-21 11:54] alanbarrett commented on #1264
I cannot replicate this on the test server. On Monday can we do a test on trommons.org and I can check the database.

    Alan.

[2017-01-23 11:56] alanbarrett commented on #1264
@Paulina-Rosetta Are you free to do a test now?... we could Skype. Or maybe also at 1:45pm or else we can leave for a day or two if you are busy.

    Alan.

[2017-01-23 20:48] alanbarrett commented on #1264
@Paulina-Rosetta can you do another test of an unpublished project create whenever you can. I will not be around until the afternoon to look at the results. Just be sure to check it is really still published before you remove from task stream or whatever you do (did you do that to today's one yet?).

I have added error logging which should tell me more.

    Alan.

[2017-01-24 12:12] Paulina-Rosetta commented on #1264
I created a new test project now. It was definitely still published but I subsequently unpublished both tasks manually: https://trommons.org/project/6110/view/
I have deleted the other two test projects I created yesterday.

[2017-01-27 15:08] alanbarrett commented on #1264
This is actually a backend issue: https://github.com/TheRosettaFoundation/SOLAS-Match-Backend/issues/48

    Alan.

[2017-01-30 11:52] Paulina-Rosetta opened #1265 "Org member cannot reset password"
I got an email from an org member who cannot reset her password. This is her address: montsem@fundacionpineda.org

She has a profile on Trommons (https://trommons.org/15969/profile/) and is a member of this organisation: https://trommons.org/org/330/profile/

When her email is put into the Reset password box the following error message appears:
**Error! Failed to request password reset, are you su

[2017-01-30 12:02] alanbarrett commented on #1265
Her email in the system is: montsem@fundaciopineda.org
not montsem@fundacionpineda.org (missing "n")... will I change it?

    Alan.

[2017-01-30 12:19] Paulina-Rosetta commented on #1265
Yes please, sorry for overlooking!

[2017-01-30 12:23] alanbarrett commented on #1265
I have changed her email to montsem@fundacionpineda.org
(but not reset her password).

    Alan.

[2017-01-30 12:23] #1265 closed

[2017-01-31 14:02] #1264 closed

[2017-02-03 13:03] alanbarrett opened #1266 "Task Insert Failure does not return error to user"
A Task Insert Failure does not return an error to user. This is from:
https://trommons.org/project/5859/create-task/

PHP gives: PHP Fatal error:  Call to a member function getId() on a non-object in /repo/SOLAS-Match/ui/RouteHandlers/TaskRouteHandler.class.php on line 1565

This will be caused when a duplicate of the following is found:
`title`,`project_id`,`language_id-source`,`language_id-targe

[2017-02-03 15:30] alanbarrett commented on #1266
Commit 2a8127a9e0d6def452e5e79aa666c2ba7ae2a7fb addresses this.

    Alan.

[2017-02-03 15:30] #1266 closed

[2017-02-03 16:21] alanbarrett commented on #1266
Note, this allows someone to create a task with the same language pairs and task type within a project. But this was allowed anyway as long as the user used a different task name... so I decided not to change the way the system worked by prohibiting that.

    Alan.

[2017-02-06 09:52] Paulina-Rosetta opened #1267 "Cannot update project word count"
It seems I can olny change incorrect project word counts on the task pages but not on the project page.

Example: https://trommons.org/project/6223/view/

Actual word count is 4740, I changed it on the translation and proofreading tasks, but when I go to Edit Project and update it on the project page, it doesn't update.

[2017-02-06 16:10] alanbarrett commented on #1267
It works in Chrome, and I used it to set the project word count. However I cannot get figure out what is going wrong in Firefox. It is some issue with JavaScript...

The https://trommons.org/api/v0/projects/6223/updateWordCount/4741 call on its own works
but when combined with the POST in Project Edit, the same call seems to not be received by the Trommons API... I am still trying to track it down

[2017-02-06 17:01] alanbarrett commented on #1267
It seems that the issue is that the POST causes Firefox to abort the AJAX connection with the server which was started in the validateForm() JavaScript. And consequently the API call does not seem to make it to Trommons. The abort then seems (naturally enough) to trigger the failure of the AJAX call which then returns an Alert to the user.

So it would seem we need to ensure the completion of the

[2017-02-06 17:22] alanbarrett commented on #1267
Sorry to be thinking out loud... options seem to be...

- synchronous AJAX call (as opposed to async)

- Put the AJAX call on a separate thread which will not be owned by/affected by the validateForm(), although my understanding was that was already the case for $.ajax().

    Alan.

[2017-02-06 17:27] alanbarrett commented on #1267
We are using JQuery 1.9.0, which might be relevant as there could be bugs.

    Alan.

[2017-02-06 17:55] aquilax commented on #1267
Where is this ajax call initiated in the code? I can try to debug it here.

[2017-02-06 18:08] alanbarrett commented on #1267
File: ui/js/ProjectAlter.js
Line: 266, DAOupdateProjectWordCount(project_id, newWordCount, successWordCount, inconsistentWordCount, errorUpdatingWordCount);
The $.ajax() is on line 622

https://loc.csisdmz.ul.ie/SOLAS-Match/project/345/alter/
triggers the issue (in Firefox). An alert comes up as the following line is triggered:
.fail(functionOnFail); (line 647)
Firefox seems to give up on the $.aj

[2017-02-06 18:15] alanbarrett commented on #1267
@aquilax I just want to point out that while we want to fix it, this is not urgent as this (setting Word Count) call can only be used by admins and there is a workaround. Also I checked that there are no other similar issues in the code.

Nevertheless I would appreciate your help getting the code to work rather that doing a workaround.

    Alan.

[2017-02-06 18:57] aquilax commented on #1267
May the reason be that PUT is with empty data ?

[2017-02-06 19:03] alanbarrett commented on #1267
I have not looked at the spec for PUT recently, but I suppose that is a possibility... however it works perfectly when the validate is forced to return false (so no POST happens) or a delay is added before the POST, so I think not.

    Alan.

[2017-02-09 14:40] alanbarrett commented on #1267
@aquilax ... Not that this is urgent, but are you planning to explore more over the weekend?

Or should I go ahead and look at the best fix to the issue.

    Alan.

[2017-02-09 15:07] aquilax commented on #1267
@alanbarrett if you have idea how to fix it go ahead. I'm going on vacation next week and don't have much spare time. Sorry for blocking you.

[2017-02-10 12:02] Paulina-Rosetta opened #1268 "Badge Awarded notification email needs update"
I just noticed that the Badge Awarded notification email could do with an update. It reads:

Paulina Abzieher,
Congratulations! You’ve been awarded the badge on Trommons.
Sincerely,
The Trommons Team

As a minimum change, I would suggest:

Paulina Abzieher,
Congratulations! You’ve been awarded **a** badge on Trommons.
Sincerely,
The Trommons Team

We could also think about adding the organisation

[2017-02-14 14:57] alanbarrett commented on #1268
Resolved: https://github.com/TheRosettaFoundation/SOLAS-Match-Backend/issues/49

[2017-02-14 14:57] #1268 closed

[2017-02-15 14:17] alanbarrett commented on #1267
Adding the Word Count to POST is messy (as there are a number of different cases), so I will not do that.

Making the AJAX call synchronous is messy and dangerous, so I will not do that.

I could POST the form from JavaScript (after the Word Count AJAX call finishes) but that is messy also, given what we have works.

So I will add a button for Admins which sets the Word Count as a separate action.

[2017-02-16 14:26] alanbarrett commented on #1267
@paulina
This is now fixed. There will be a button ("Submit Word Count" under Word Count), for Site Admins only, which allows updating the Word Count (only).
"Update Project Details" will update everything else. This works on all browsers (I believe).

see: commit e01369161848f6e522bad5ce280b4bdc144457c9

    Alan.

[2017-02-16 14:26] #1267 closed

[2017-02-22 12:38] alanbarrett opened #1269 "Remove annoying exception from error log"
Remove annoying exception from error log.

This is always output when a user looks at someone else's profile by following code...
`catch (Common\Exceptions\SolasMatchException $e) {`
    `error_log("Error getting user personal info: $e");`
`}`

But the personal info is not supposed to be displayed, so this exception is perfectly OK (if a slight overhead) and should not be put in error log.

    Al

[2017-02-22 12:48] alanbarrett commented on #1269
Resolved by commit d92cd02ae77d46aef67f1b929e1c72d7d4278fdb

    Alan.

[2017-02-22 12:48] #1269 closed

[2017-03-07 13:01] alanbarrett commented on #1246
@aquilax @Paulina-Rosetta
As part of doing this I am considering redoing the way we handle files with the following aims...

1) Use a file hash so that duplicate files are not stored twice.
In fact we have multiple copies of files as a standard feature of the system, which is a big storage overhead.
(I am considering using the file system used by Moodle which I know pretty well.)

2) Remove orphan

[2017-03-07 15:11] aquilax commented on #1246
Sounds like a big initiative.
5. What do you mean by drag and drop download?
7. Haven't checked how the files are stored now but if they are separated in shards, NFS mounting could be a "cheap" solution.

[2017-03-07 15:32] alanbarrett commented on #1246
(7) OK NFS sounds like an option.
(5) ... dragging file to desktop, actually it does not seem possible with Moodle. So maybe not an option.

    Alan.

[2017-03-10 11:44] alanbarrett opened #1270 "Impossible to archive a task with Italian UI"
@stefania91 indicated that it was impossible to archive a task with Italian UI.
It turns out that this is because the localised Italian contains
"'" characters in some text that is used in JavaScript "confirm('...')"s.
This gives bad syntax in the JavaScript, so the button does not function.
In fact this happens in a number of Italian buttons and one English one.

This is now fixed by commit 8c51a

[2017-03-10 11:47] alanbarrett commented on #1270
Also tested.

    Alan.

[2017-03-10 11:47] #1270 closed

[2017-03-10 14:50] alanbarrett opened #1271 "Dashboard is very very slow for site admin"
@Paulina-Rosetta @stefania91
The dashboard is very very slow for a site admin.

It is displaying every project in the system. However, as part of this, it is calling "isSubscribedToProject()"
for each project (.03 seconds approx per project). In fact this is not used! So I have removed in
commit a208c8dc33fff898f4af6b415b5ffe273c4dc466

    Alan.

[2017-03-10 14:57] alanbarrett commented on #1271
It now takes over just half a minute rather than just less than 3 minutes, about an 80% improvement. More could probably be done, but enough for now.

    Alan.

[2017-03-10 14:57] #1271 closed

[2017-03-22 15:51] alanbarrett opened #1272 "Limit some Tasks to "Qualified" Translators"
We already have a system for this, but it is all or none for an organisation... Once there is one "Qualified" badge for an organisation, tasks for that organisation are only shown to those with that badge.

@Paulina-Rosetta and @stefania91 want to make this more fine grained. So I would add a flag (or a text attribute e.g. "Qualified") to each task to indicate it needs a qualified translator. I ha

[2017-03-23 09:50] Paulina-Rosetta commented on #1272
Amazing - thanks Alan. We had a quick chat about this and have come up with the following:

1) Yes, definitely works for us
2) One type of qualification and a checkbox works for us
3) Yes, for now it only makes sense to provide this option to orgs with the Qualified badge as we need to arrange for testing or the signing of agreements  with them before restricting projects
4) The default would be c

[2017-03-26 16:11] alanbarrett commented on #1272
@Paulina-Rosetta , @stefania91

Here is the wording for the Project Create page...
<string name="restrict_tasks">Restrict Tasks</string>
<string name="restrict_tasks_long">If checked, tasks will only be shown to volunteers with the "Qualified" badge for your organisation.</string>

Here is the wording for the Task Create/Edit page...
<string name="restrict_task">Restrict Task</string>
<string name

[2017-03-27 09:25] Paulina-Rosetta commented on #1272
Thanks Alan. I think this will suffice:
**If checked, tasks will only be shown to qualified volunteers.**

The reason for the change is that most orgs don't create the Qualified badge themselves - we create it for them - so they may be confused by the wording.

Stefania is out today so maybe let's wait till tomorrow to decide.

[2017-03-27 15:50] alanbarrett commented on #1272
@Paulina-Rosetta
That will also fit better. Can you organise translations (for the 4 strings) when you have finalised?

    Alan.

[2017-03-28 13:29] alanbarrett commented on #1272
Fixed by commit d292856675bb348a02fce913932def2f10e73cba
(Translations to follow)

Also fixed Published bug for when uploading/creating follow on tasks  for segmentation task.

    Alan.

[2017-03-28 13:29] #1272 closed

[2017-03-30 10:18] stefania91 commented on #1272
This is the Italian wording. I tried and keep it short, but it's still a bit longer than the English. I can try and cut off something if you need me to!

Accesso limitato
Selezionare per rendere questo contenuto visibile solo a chi possiede un riconoscimento.

[2017-03-30 10:36] alanbarrett commented on #1272
@stefania91
Thanks, is that for the singular or plural (or both?)...

"Restrict Tasks"
"If checked, tasks will only be shown to volunteers with the "Qualified" badge for your organisation."
"Restrict Task"
"If checked, task will only be shown to volunteers with the "Qualified" badge for your organisation."

    Alan.

[2017-03-30 10:42] stefania91 commented on #1272
I made it generic, I just said "this content" so that we can use it for both projects and tasks. Do you think it's clear enough?

[2017-03-30 10:44] alanbarrett commented on #1272
OK great, It will fit no problem.

    Alan.

[2017-03-30 10:45] Paulina-Rosetta commented on #1272
Sorry my mistake. I thought we were going with this for both:
"Restrict Tasks"
"If checked, tasks will only be shown to qualified volunteers."

I didnt notice the difference when I asked Stefania for the Italian

[2017-04-03 09:04] Paulina-Rosetta commented on #1272
GERMAN:

"Restrict Tasks"
"If checked, tasks will only be shown to qualified volunteers."
"Beschränkte Aufgaben"
"Wenn diese Option ausgewählt ist, sind die Aufgaben nur für qualifizierte Freiwillige sichtbar."

"Restrict Task"
"If checked, task will only be shown to qualified volunteers."
"Beschränkte Aufgabe"
"Wenn diese Option ausgewählt ist, ist die Aufgabe nur für qualifizierte Freiwillige si

[2017-04-03 10:05] Paulina-Rosetta commented on #1272
SPANISH:

"If checked, tasks will only be shown to qualified volunteers."
Singular: Si marcas la casilla, la tarea solo se mostrará a los voluntarios aptos para completarla.
Plural: Si marcas la casilla, las tareas solo se mostrarán a los voluntarios aptos para completarlas.

[2017-04-03 10:08] alanbarrett commented on #1272
But for Spanish I also need

"Restrict Task"
and
"Restrict Tasks"

    Alan.

On 3 April 2017 at 11:05, Paulina-Rosetta <notifications@github.com> wrote:

[2017-04-03 10:09] Paulina-Rosetta commented on #1272
Limitar tarea

Limitar tareas

[2017-04-03 11:52] alanbarrett commented on #1272
Translations are now in and look OK.

    Alan.

[2017-04-14 15:41] alanbarrett opened #1273 "Peoples seem are able to get to Restricted Tasks (by guessing URLs?), so redirect to Home"
@Paulina-Rosetta @stefania91 requested...
This has happened before but it’s getting to a point where we have to think about intervening. A restricted task (Qualified badge) has been claimed by a user who does not hold the badge. We think it’s because they came across the task when it was displayed on a different task page in the ‘Users also viewed’ section on the right. But we can’t be sure.

The

[2017-04-14 16:46] alanbarrett commented on #1273
This is now done... Restricted tasks should not be accessible (unless you have a Qualified Badge). You will get : "You are not authorized to view this page".

    Alan.

[2017-04-14 16:46] #1273 closed

[2017-05-27 16:19] alanbarrett opened #1274 "Project Create/Alter (& Task) should not default to "Aari" Language, Default should be blank"
Project Create/Alter (& Task) should not default to "Aari" Language, Default should be blank. And a blank should not be be allowed submit.

@mari-na requested.

    Alan.

[2017-05-27 16:52] alanbarrett commented on #1274
I propose not to do Task Create as it is not used so much (and the code is somewhat different). Also Project Edit does not add much as the language should be a valid one.

However I think I should do Country for Project Create.

    Alan.

[2017-05-27 18:09] alanbarrett commented on #1274
@mari-na

I need translations for these before I go live (cannot do that 'till sometime next week in any case because our test server in Limerick is down for a planned campus shutdown this weekend and I do not want to waste time working around that)...
`<string name="project_create_set_source_language">Source Language must be set.</string>`
 `<string name="project_create_set_source_country">Source

[2017-06-01 15:57] alanbarrett opened #1275 "AH02429: Response header name 'Access-Control-Allow-Headers ' contains invalid characters, aborting request"
AH02429: Response header name 'Access-Control-Allow-Headers ' contains invalid characters, aborting request

This happened after a security update (to Apache). We have a space before ":" in two headers.

[2017-06-01 16:07] alanbarrett commented on #1275
commit 6894fe55b8fe4ae7a82e8329aa99d79892fb96b7 fixes.

    Alan.

[2017-06-01 16:07] #1275 closed

[2017-06-06 11:47] alanbarrett opened #1276 "Automatic Word Count Generation"
@mari-na requested Automatic Word Count Generation. We will provide this with API calls to a MateCat instance (provided by @mirko33 ).

When a new Project or Task is created. I will generate records in the database indicating that the user entered word count needs to be updated (overwritten). Later we will add wording to indicate for what file types, the project submitter does not need to enter a

[2017-06-09 11:46] alanbarrett commented on #1274
commit a79e257a5f7ffad23df352a9995c14ee8dfec8ce fixes

[2017-06-09 13:18] alanbarrett commented on #1274
Complete.

    Alan.

[2017-06-09 13:18] #1274 closed

[2017-06-09 13:28] alanbarrett commented on #1274
All languages and countries must be specifically selected in Create Project. They no longer default to Aari. The form will not submit if these are blank.

[2017-06-13 10:35] alanbarrett commented on #1276
I have now completed the code for this. It has not been tested (or even checked for syntax errors). Here are the changes: https://github.com/TheRosettaFoundation/SOLAS-Match/compare/word-count

I have some questions...

1) I have done preliminary API tests with www.matecat.com. This seems to return good word counts! I am slightly worried that the clean copy of MateCat that @mirko33 is planning to

[2017-06-14 08:05] mirko33 commented on #1276
1. The MateCat filter capability is based on open source technology which in turn is made available in a public (but paid-for) API which TWB is subscribed to. So we will be using the exact same filters involved in word counting as does Matecat.com
2. I agree
3. This may not work for very large documents, but then I presume they're rare and would need some manual intervention anyway.
5. Fair enough

[2017-06-15 18:13] alanbarrett commented on #1276
I have finished coding this and testing it on the dev server.

See commit 0068a6cac79766ca82c3c658431d8132de57b819

@mirko33 , I need to know when you will be ready for me to test with Kató and what URL to use.

    Alan.

[2017-06-16 12:52] mirko33 commented on #1276
Great, thanks. I expect the new MateCat instance to be available by end of day Monday (June 19). We're setting up a new dedicated one finally, rather than using an existing dev instance.

[2017-06-18 17:56] alanbarrett commented on #1276
@mirko33 , @mari-na ,

I've been looking at matching up Trommons languages with MateCat Languages so we can pick target languages in MateCat that can pretty accurately reflect the target language/country pairs in Trommons (Trommons allows any pair while MateCat has a more restricted set).

The reason to do that would be to validly setup the targets in MateCat rather than pick "es-ES" as my code cu

[2017-06-19 13:55] mirko33 commented on #1276
Yes, I think that's a good forward-looking idea. We keep running into problems with our "Workspace" because it uses an undocumented set of proprietary language codes and have to maintain a table in Kató to make them match
For Kató, the URLs are https://kato.translatorswb.org/...
We've not entirely completed the move to that URL yet, but that only affects the integration with the Workspace API (whi

[2017-06-22 14:23] alanbarrett commented on #1276
@mirko33

I did a test with https://kato.translatorswb.org/api/new and subsequent https://kato.translatorswb.org/api/status?id_project=1442&project_pass=cb3fdd5362e1
I have to divide by the number of language pairs to get the correct word count, but it seems to work otherwise.

When I (manually) go to https://kato.translatorswb.org/analyze/project-1/1442-cb3fdd5362e1
I am brought to https://kato.t

[2017-06-23 08:52] mirko33 commented on #1276
I've now given alanabarrett0@gmail.com access. That access is limited to
your own projects and projects created by TWB staff, as only users with a @
translatorswithoutborder.org email address have full access (ie. access to
projects created by other organization).

Mirko

On Thu, Jun 22, 2017 at 4:23 PM, Alan Barrett <notifications@github.com>
wrote:

--
Mirko Plitt
*Platforms*
www.translatorswith

[2017-06-25 17:35] alanbarrett commented on #1276
@mirko33

Great! How does it know what "my own projects" are? I do not submit anything identifying in the post (it is anonymous). But I can now see the Analyse URLs.

    Alan.

[2017-06-26 07:01] mirko33 commented on #1276
Good point :-) The API uses a default user name, translated_user.
Please use the owner_email parameter when creating the project. I suppose we should at least be refusing anonymous calls and those not made in the name of a registered user.

[2017-06-26 15:42] alanbarrett commented on #1276
I have just now (commit 151340cdefbfe128ca5249edf8f1fc67eb79ff81) set the owner_email to "info@trommons.org". Will this be accepted and will I be able to see the Projects in Kató?

I am not yet updating the Trommons word count, I want to wait and see if all goes well.

    Alan.

[2017-06-26 16:08] alanbarrett commented on #1276
Here are the projects so far today...
`
+------------+--------------------+-------------------------+-----------------+-------------------------+-----------------+--------------------+-------+
| project_id | matecat_id_project | matecat_id_project_pass | source_language | target_languages        | user_word_count | matecat_word_count | state |
+------------+--------------------+-------------------

[2017-06-26 16:18] alanbarrett opened #1277 "Deletion of Trommons account does not work"
@marina reported...

I deleted my marina@translatorswithoutborders.org account on Trommons today.

Then I received this email.
---------- Forwarded message ----------
From: <info@trommons.org>
Date: Thu, Jun 15, 2017 at 12:36 PM
Subject: Trommons: Registration Successful
To: marina@translatorswithoutborders.org

marina, welcome to Trommons!
...

    Alan.

[2017-06-26 17:01] mirko33 commented on #1276
"info@trommons.org" should be fine. I don't see any project created with that owner yet, so far they've all been stored as created by 'translated_user'
I don't think that setting "info@trommons.org" as owner will have an impact on your ability to access the project page, but I'm not entirely sure. We've not been using the API much yet.

[2017-06-26 18:10] alanbarrett commented on #1277
@marina

I have not been able to replicate this on the test server. I used the option to delete my own user (a test one). But maybe you used https://trommons.org/admin/ ?
In any case I cannot see how it happens, so I have added some debug code.

Could you try again to delete that user "marina@translatorswithoutborders.org"? Let me know which URL you used to delete the user and also error messages

[2017-06-26 20:23] alanbarrett commented on #1276
4 new projects have now successfully used 'owner_email' => 'info@trommons.org'
e.g. https://kato.translatorswb.org/analyze/proj-7049/1481-125517f3feaa
(and I can access)

    Alan.

[2017-06-27 07:58] mirko33 commented on #1276
Excellent, thanks!
On the Kató end, they still show as 'translated_user' (and while they do show in the database, they're not visible in the MateCat management panel), but that's a) not much a problem for now, and b) entirely a MateCat issue (possibly API configuration which is not documented rather than a bug) which we will look at some point

[2017-06-28 14:02] alanbarrett commented on #1276
Here is what I will do (following on from our discussions)

- Disable the word count field on project create page

- Add the following wording under "Word Count" instead...
"This will be calculated automatically, and will be visible, after a two minute delay, on the page you reach after submitting this form."
((please edit this wording as appropriate if it is not clear))

- I need these words in S

[2017-06-28 15:04] alanbarrett commented on #1276
Just to note we will not be able to do this test anymore...
"If word count is greater than 5000, and segmentation is not selected, display warning message to user."

    Alan.

[2017-06-28 21:58] mirko33 commented on #1276
German translation of "This will be calculated ...":
"Die Wörter werden automatisch gezählt. Die Wortzahl wird nach zwei Minuten auf der nächsten Seite angezeigt."
(I simplified "the page you reach after submitting this form" to "the next page", mainly because a correct German translation would probably only end up confusing most users)

[2017-06-30 15:10] alanbarrett commented on #1276
This I believe is now complete. Projects their Tasks should be updating with from Kató.

See commit: 9c555fe2cac81568e5e79100fabf92ff592b5345

I will watch to see that everything goes well. Let me know if there are issues.

    Alan.

[2017-06-30 15:10] #1276 closed

[2017-07-09 13:32] alanbarrett opened #1278 "Create Clickable list of Reports on Admin Page"

[2017-07-09 14:45] alanbarrett commented on #1278
@mari-na , @mirko33
This is now done, see: https://trommons.org/admin/

Here is the list...

https://trommons.org/active_now List all tasks currently in progress showing information about the volunteer working on them.

https://trommons.org/unclaimed_tasks List all tasks still unclaimed and the email address of their creators.

https://trommons.org/active_users_unique List all volunteers who have

[2017-07-09 14:45] #1278 closed

[2017-07-10 10:07] mari-na commented on #1278
This is amazing, Alan! Thank you!

We may want to use shorter names for report names. I'll ask the team for
suggestions and will let you know.

Thanks again!

On Sun, Jul 9, 2017 at 3:45 PM, Alan Barrett <notifications@github.com>
wrote:

--

Marina Khonina

*Translation Quality and Community Manager*www.translatorswithoutborders.org
#LanguageMatters #TranslationMatters

 [image: logo new website]

[2017-07-12 15:22] alanbarrett commented on #1277
For completeness I am updating issue with email I send you before...

---------------------
Look at https://support.google.com/accounts/answer/112802?hl=en

The remove section explains how to disconnect an account login (e.g. to trommons.org from your TWB account).

I will again look at our code later, but I think the above will remove the connection.
---------------------

As discussed today, thi

[2017-07-12 15:22] #1277 closed

[2017-07-28 14:35] alanbarrett opened #1279 "Allow Site Admins to Search Users, Organisations, Projects"

[2017-07-28 14:48] alanbarrett commented on #1279
@mari-na , @mirko33 ,

This is now done (https://trommons.org/admin/ ). Partial searches will work.

Users, Projects, Tasks and Organisations are clickable. Clicking on an email will bring into your mail creator.

See commit 5cdc86941a39e0f33880c4020b0f33c67717a61b

    Alan.

[2017-07-28 14:48] #1279 closed

[2017-09-20 14:30] alanbarrett opened #1280 "NGO Report"
Requested by @mari-na Raquel, Ambra

My colleague Raquel had made the following request. Would it be possible to prepare a report for this? Or are there any existing reports that we could use?
(I'm copying Raquel on this in case you have any questions)

For each NGO:
total wordcount requested in 2017
language pairs requested
main contact point
email
website (if listed)

    Alan.

[2017-09-21 11:54] alanbarrett commented on #1280
Commit abdda23e304591c0d9c906b374127e2bac3d300e implements this.

To use it go to...
https://trommons.org/admin/
Click on "[Download NGO report]" to download a CSV spreadsheet

I have not done quite what I was asked so as to be compatible with the user reports. I was asked for requested words.
Instead I counted words and language pairs completed (not requested).

I also do not include Archived (or

[2017-09-21 11:54] #1280 closed

[2019-01-23 16:24] alanbarrett commented on #1161
Sorting done by commit ddf82087c48618dc3d672f28e9ca53a0ec7997f5

[2019-01-23 16:24] #1161 closed